- if defined?(total_count)
  - i = total_count - lifer_counter

- if defined?(count_reached)
  - i = count_reached + lifer_counter

%li.lifer_row{value: i}
  = species_link(lifer)
  = name_sci(lifer)
  %span
    = surround'(', ')' do
      = content_tag(:time, l(lifer.first_met, :format => :long))
