-# frozen_string_literal: true

- media.representation.full_size.yield_self do |embed|
  .video-container
    = render "videos/youtube_embed", embed: embed
  .yt_link
    = link_to embed.page_url, target: :_blank, rel: "nofollow noopener" do
      = I18n.t("videos.watch_on_youtube")
      %b
        %i.fab.fa-youtube
