-# frozen_string_literal: true
= form.input :observ_date, label: 'Start date:', as: :string, required: false,
    input_html: {class: 'short', maxlength: 10, type: 'date'}
= form.input :end_date, label: 'End date:', as: :string, required: false,
    input_html: {class: 'short', maxlength: 10, type: 'date'}
