-# frozen_string_literal: true
-# No need in voice selection for ebird submission

-# Add hidden field to exclude individual eBirded cards

-#= form.input :exclude_ebirded, as: :hidden, input_html: {value: 1}
