-# frozen_string_literal: true
%div.input.optional.voice_radio_group
  = form.collection_radio_buttons :voice, [['', 'All'], [false, 'Seen'], [true, 'Heard only']], :first, :last,
                                  include_hidden: false
