%time= post_link(l(life_observation.observ_date, format: :long), life_observation.main_post, true)
%span.llc
  - loc_name = life_observation.patch_or_locus.public_locus.decorated.full_name
  %img{src: "/img/map_pin_stroke_10x16.png", title: loc_name, "data-title" => loc_name}
- if current_user.admin?
  %a{href: card_path(id: life_observation.card), class: 'img'}<
    %img(src="/img/book_alt2_12x11.png")
