- @only_path = false

= post.decorated({host: request.host, port: request.port}).for_instant_articles.text

= render partial: "blog/image", collection: post.decorated.the_rest_of_images, formats: :html
