-# frozen_string_literal: true

= post.decorated({host: request.host, port: request.port}).for_instant_articles.body

-# - if GoogleAnalytics.configured? && !@dev
-#   %figure.op-tracker
-#     %iframe
-#       = render partial: 'partials/ga_code', object: GoogleAnalytics.config.code, as: :code, locals: {fb: true}
