-# frozen_string_literal: true
- @only_path = false

= post.decorated({host: request.host, port: request.port}).for_instant_articles.text

- if GoogleAnalytics.configured? && !@dev
  %figure.op-tracker
    %iframe
      = render partial: 'partials/ga_code', object: GoogleAnalytics.config.code, as: :code, locals: {fb: true}
