- @only_path = false

- image.formatted.title.tap do |img_title|
  %p= link_to image_tag(jpg_url(image), :alt => img_title), localize_url(image), :title => img_title

%ul.img_species
  - image.species.each do |sp|
    %li
      = species_link(sp)
      = name_sci(sp)

= render partial: "images/long_details", formats: :html, locals: {image: image}
