-# frozen_string_literal: true
- image.decorated.title.yield_self do |img_title|
  %p
    = link_to localize_url(image), title: img_title do
      = render "photos/site/photo", representation: image.representation.full_size, options: { alt: "" }
