%time{pubdate: 'pubdate', datetime: post.face_date.iso8601}= l(post.face_date, format: :long)

= post.formatted.text

- post.images.each do |thumbnail|
  - thumbnail.formatted.title.tap do |img_title|
    = link_to image_tag(thumbnail_url(thumbnail), :alt => img_title), image_path(thumbnail), :title => img_title

%p= link_to '+ Add comment', public_post_path(post, anchor: 'add_comment')
