= form.association :locus, :label => 'Location:', :collection => Locus.all_ordered, :label_method => :name_en,
    :input_html => {:class => 'suggest-combo', :name => 'c[locus_id]'}
= form.input :observ_date, :as => :string, :label => 'Date:',
      :input_html => {:class => 'short', :maxlength => 10, :name => 'c[observ_date]', :type => 'date'}
= form.input :mine, :label => 'Mine', :input_html => {:name => 'c[mine]'}
- unless @blogpost.nil?
  = form.association(:post, :as => :boolean, :label => post_link(@blogpost.title, @blogpost), :wrapper_html => {:class => 'flat'})