-# frozen_string_literal: true
%li
  %input{:type => :hidden, :value => obs_item.id, :name => 'obs[]'}
  %span.remove.fas.fa-times.fa-2x
  %div= obs_item.decorated.species_str
  %div= obs_item.decorated.when_where_str
