.top5-list-header {
  font-family: Rubik, ui-sans-serif, system-ui, sans-serif;
  margin-bottom: 0.5rem;
}

.lifers_list .sp_link_long {
  font-size: 0.95rem;
}

.lifers_list .sp_link_long i.sci_name {
  white-space: nowrap;
}
