.winter-alert {
  padding: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  background-color: #f8d7da;
  color: #842029;
  border: 1px solid #f5c2c7;
}

.winter-alert h6 {
  color: #842029;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.winter-alert p:last-child {
  margin-bottom: 0;
}

.winter_photo_table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
}

.winter_photo_table h3 {
  margin-bottom: 0.5rem;
}

.winter_photo_table td {
  padding: 0.5rem;
  border-top: 1px solid #dee2e6;
  vertical-align: top;
}

.winter_photo_table tr:first-child td {
  border-top: none;
}

.winter_photo_table td p a.img {
  display: inline-block;
  border-bottom: none;
}

.winter_photo_table td p a.img:hover {
  border-bottom: none;
}

.winter_photo_table td p img {
  display: block;
  border: 1px solid #999999;
}

.winter_photo_table td:first-child p {
  margin-bottom: 0;
}

.winter_photo_table td:first-child p .flickr_subscr {
  display: block;
  margin-top: 2px;
}

@media (max-width: 575.98px) {
  .winter_photo_table td {
    display: block;
  }

  .winter_photo_table td .flickr_subscr {
    display: block;
  }

  .winter_photo_table td:last-child {
    border-top: none;
  }

  .winter_photo_table td:first-child {
    padding-bottom: 0;
  }

  .winter_photo_table td:first-child p {
    margin-bottom: 0;
  }
}
