.git
tmp/**/*
!tmp/pids/.keep
!tmp/cached_pages/.keep
log
public/assets
app/assets/builds/*
.bundle
storage/**/*
!storage/.keep

Dockerfile
compose.yml
compose-full.yml

db/*.sqlite3
db/*.sqlite3-*

config/master.key
config/credentials/*.key

node_modules

**/*~
**/AppleDouble
**/.*
definitions.rb
Procfile.dev
README.rdoc
coverage
data
test
public/csv
public/storage
public/system
public/packs
public/packs-test
public/*.bak
yarn-error.log
doc
