.git
tmp
!tmp/pids
log
public/assets
app/assets/builds/*
.bundle

Dockerfile
docker-compose.yml

db/*.sqlite3
db/*.sqlite3-*

storage
config/master.key
config/credentials/*.key

node_modules

**/*~
**/AppleDouble
**/.*
definitions.rb
Procfile.dev
README.rdoc
coverage
data
test
public/csv
public/storage
public/system
yarn-error.log
doc
