.*
!.gitignore
!.gitkeep
!.gitmodules
!.ruby-version
!.ruby-gemset
!.keep
!.env
!.env.test
!.env.development
!.powenv
!.babelrc
!.postcssrc.yml
!.browserslistrc
!.dockerignore
!.rubocop.yml
!.github
.bundle
data/checklists*/
data/MyEBirdData*
db/*.sqlite3
db/seed
config/database.yml
config/local.yml
config/security.yml
config/deploy*
config/master.key
*.log
tmp/**/*
*~
public/assets
public/csv
coverage/*
# React on Rails
npm-debug.log*
storage/

# Ignore master key for decrypting credentials and more.
/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
