@layer utilities {
  // ????
  .pb-safe {
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
  }
}

@layer utilities {
  .list-interpunct > li:before {
    content: '・';
    float: left;
    margin: 0 0 0 -0.9em;
    width: 0.9em;
  }

  @media (min-width: 992px) {
    .list-interpunct > li:before {
      margin: 0 0 0 -1.5em;
      width: 1.5em;
    }
  }
}
