-# frozen_string_literal: true
- @robots = 'NOINDEX, NOFOLLOW'

- @page_title = t(@parent_comment ? '.reply_title' : '.comment_title')

%h1 #{@page_title} #{post_link(@post.decorated.title, @post)}

= render @parent_comment if @parent_comment

= render 'form'
