-# frozen_string_literal: true
- @page_title = "Комментарий не найден"

- @robots = "NOINDEX,NOFOLLOW"

%h2= @page_title

%p
  Извините, комментарий не найден. Возможно, он был удален, или вы отписались от уведомлений об ответах на него ранее.
