- @years = @lifelist.years
= render 'partials/years'

%ul.horiz-list.filter-list
  %strong= t('.filter.places')
  %li= params[:locus].nil? ? content_tag(:span, t('misc.all')) : link_to(t('misc.all'), significant_params.merge(:locus => nil))
  - Locus::PUBLIC_LOCI.each do |slug|
    %li= link_to_or_span(@locations[slug][0].name, significant_params.merge(:locus => slug))
