- @years = @lifelist.years
- locs = @lifelist.locations
= render 'partials/years'

%ul.horiz-list.filter-list
  %strong Places:
  %li= params[:locus].nil? ? 'All' : link_to('All', significant_params.merge(:locus => nil))
  - Lifelist::ALLOWED_LOCUS.each do |code|
    %li= link_to_unless_current(locs[code][0].name_en, significant_params.merge(:locus => code))

- unless @lifelist.blank?
  %ul.horiz-list.filter-list
    %strong Sort by:
    - sort_options.each do |label, sort_option|
      %li= link_to_unless_current(label, significant_params.merge(:sort => sort_option))
