-# frozen_string_literal: true
- if defined?(total_count)
  - i = total_count - new_lifer_counter

%li.mb-2.pl-2{value: i}
  = species_link_long(new_lifer.species)
  %span.block.whitespace-nowrap.text-xs.text-gray-600
    %i.far.fa-calendar-check{class: %w[text-[#212529]]}
    = tag.time(l(new_lifer.card.observ_date, format: :long), datetime: new_lifer.card.observ_date.iso8601)
