- @page_title = 'Lifelist by count'

%h1= @page_title

- if @species.blank?
  %p No species
- else
  %ol
    - @species.each do |sp|
      %li.lifer_row
        %span
          = species_link(sp)
          = name_sci(sp)
        %em= sp.observ_count