- sort = params[:sort]
- @page_title = "Lifelist #{sort.nil? ? "by date" : sort.sub('_', ' ')}"

%h1= @page_title

= render 'menus', :sort_options => {'date' => nil, 'count' => 'by_count', 'taxonomy' => 'by_taxonomy'}

- if @lifelist.blank?
  %p No species
- else
  = render sort.nil? ? 'by_date' : sort