-# frozen_string_literal: true
- stylesheet "forms"
- @page_title = "Spuhs"
- @js_features = [:taxaAutosuggest]

:javascript
  $(
    function() {

      var show_form = function(e, data) {

        $(".spuh_container").html(data);
        activateFields();
      };

      var activateFields = function () {
        Quails.features.taxaAutosuggest.initTaxonSuggestField(".sp-light");
        $(".observation_private_notes").show();
      }

      activateFields();

      $(document).on("click", ".fast-sp-link", function(e) {
        $('.sp-light').val($(e.target).data('label'));
        $('.sp-light').next().val($(e.target).data('taxon-id'));
      });

      $(document).on("ajax:success", ".skip_link", show_form);
      $(document).on("ajax:success", "form.spec_edit_observation", show_form);
    }
  );

%h3 Spuhs

.spuh_container
  = render "spuh"
