footer.page_footer {
  margin-top: 1rem;
  border-top: 1px solid var(--color-border-gray);
}

.footer_banners {
  padding: 0.5rem 4px;
  background-color: var(--color-bg-footer);
  text-align: center;
}

@media (min-width: 768px) {
  .footer_banners .banner-group {
    display: inline-block;
  }
}

.banner_holder {
  display: inline-block;
  vertical-align: top;
  width: 152px;
  height: 56px;
  border: 1px solid lightgray;
  margin: 6px 4px;
}

@media (min-width: 768px) {
  .banner_holder {
    margin: 2px 4px;
  }
}

.banner_holder a {
  border-bottom: none;
}

.footer-text {
  border-top: 1px dotted var(--color-blue-menu);
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: #fdfdff;
}

.footer-text p {
  margin-bottom: 0.5rem;
}

.footer-attribution {
  font-size: 0.85rem;
  color: #333366;
  font-weight: 500;
}

.footer-license {
  color: #666666;
  font-size: 0.8rem;
}

.footer-license a {
  color: inherit;
  text-decoration: underline;
  border-bottom: none;
}

.footer-license .license-link {
  font-weight: 600;
}

/* Banners */

.birdingtop_holder {
  border-color: var(--color-bg-footer) !important;
  background-color: #d5d5d5;
}

.birdingtop_placeholder {
  color: #666666;
  text-shadow: rgba(245, 245, 245, 0.5) 1px 2px 1px;
  font-size: 28px;
  font-weight: bold;
  padding-top: 5px;
  display: inline-block;
}

.fb_banner {
  background-color: #3b5998;
  border-color: var(--color-bg-footer) !important;
}

.fb_banner a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #3b5998 !important;
  background-image: url(/assets/FB-f-Logo__blue_50.png);
  background-position: -15px 3px;
  background-repeat: no-repeat;
}

.fb_banner a,
.fb_banner a:hover {
  background-color: #3b5998 !important;
  color: #ffffff;
  text-decoration: none;
}

.fb_banner .inner {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 23px;
  margin: 5px 0 0 48px;
  text-align: left;
}

.ebird_banner {
  background-color: white;
  text-align: center;
}

.ebird_banner a,
.ebird_banner a:hover {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 4px;
  color: #333333;
  font-family: "Times New Roman", serif;
  font-size: 18px;
  text-decoration: none;
}

.ebird_banner img {
  width: 45%;
}

.ebird_banner .inner {
  margin: 5px;
}

.ebird_banner .inner > span {
  display: block;
  line-height: 15px;
  letter-spacing: 0.5px;
  margin-left: 6px;
}

.flickr_banner {
  background-color: white;
}

.flickr_banner a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/assets/flickr-logo-png-55px.png);
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 15px;
}

.flickr_banner a,
.flickr_banner a:hover {
  color: #006dac;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.flickr_banner .inner {
  margin: 0 10px 0 60px;
  text-align: left;
}
