.simple-page-header {
  text-align: center;
  margin: 20px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}

.simple-page-header h1 {
  font-family: Rubik, ui-sans-serif, system-ui, sans-serif;
}

@media (min-width: 768px) {
  .simple-page-header {
    text-align: left;
    margin: 40px 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (max-width: 767.98px) {
  .simple-page-header h1 {
    font-size: calc(1.325rem + 5vw);
  }
}

.fancy-header {
  font-family: Rubik, ui-sans-serif, system-ui, sans-serif;
}
