<p>
  <b><%= @comment.formatted.name %></b> posted new comment to
  <%= show_post_path(@comment.post.to_url_params.merge(anchor: "comment#{@comment.id}", only_path: false, host: @host),
                     @comment.post.formatted.title) %>
</p>

<blockquote>
  <%= @comment.formatted.text %>
</blockquote>
