<p>
  На ваш комментарий к записи "<%= link_to @comment.post.decorated.title,
                                           show_post_url(@comment.post.to_url_params.merge(only_path: false, host: @host))
  %>" получен
  <%= link_to "ответ",
               show_post_url(@comment.post.to_url_params.merge(anchor: "comment#{@comment.id}", only_path: false, host: @host))
  %>:
</p>

<blockquote>
  <b><%= @comment.decorated.name %></b>:
  <%= @comment.decorated.text %>
</blockquote>
