%ul.horiz-list
  - if ['edit', 'update'].include?(action_name) && controller.respond_to?(:show)
    %li= link_to 'Show this one', params.merge({:action => :show}).merge(@extra_params || {})
  - elsif action_name == 'show' && controller.respond_to?(:edit)
    %li= link_to 'Edit this one', ({:controller => controller_name, :action => :edit, :id => params[:id]})
  - if controller.respond_to?(:new)
    %li= link_to 'Create new', :action => :new
  - if action_name != 'index' && controller.respond_to?(:index)
    %li= link_to 'Index', :action => :index