-# frozen_string_literal: true
- img_count = observation.images.size

%li{data: {obs_id: observation.id, obs_count: observation.spots.size}}
  %span.mapped_indicator{title: "Is mapped"}
  %div= observation.decorated.species_str
  %div= observation.decorated.when_where_str
  - if img_count > 0
    %div.obs_item_photos
      %span.images_count= img_count
      %div.images_popup.ui-tooltip= render partial: 'maps/image', collection: observation.images
