- javascript AssetsHelper::GMAP_API_URL, 'map_edit'
- @minimal_layout = true
- stylesheet 'old/map_edit'

- @page_title = 'Edit Map'

-# %h1= page_header

= render 'observations/search'

= render 'spots/form'

%ul.obs-list
  -#= render :partial => 'observations/obs_item', :collection => @observations

.mapContainer
  #googleMap
  .crosshair
