-# frozen_string_literal: true
- javascript AssetsHelper::GMAP_API_URL, 'map_edit'
- @body_class = 'map-page'
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true
- stylesheet 'map_edit'

- @page_title = 'Edit Map'

-# %h1= page_header

= simple_form_for @observation_search, url: observations_map_path(format: :json),
                                                           remote: true, method: :get, html: {class: 'search'} do |form|
  = render 'observations/search_fields', form: form

= render 'spots/form'

.map-side-panel
  %ul.obs-list
    -#= render :partial => 'observations/obs_item', :collection => @observations

.mapContainer
  #googleMap

- @observation_search.card_id.if_present do |id|
  :javascript
    var card_kml = "#{Card.find(id).kml_url}"
