- use_jquery
- use_gmap
- javascript JQ_UI_FILE, 'suggest_over_combo'
- javascript 'map.edit'
- @minimal_layout = true
- stylesheet 'map_edit'

- @page_title = 'Edit Map'

-# %h1= @page_title

= render 'observations/search'

%ul.obs-list
  -#= render :partial => 'observations/obs_item', :collection => @observations

#googleMap
