- javascript AssetsHelper::GMAP_API_URL, 'map_edit'
- @minimal_layout = true
- stylesheet 'map_edit'

- @page_title = 'Edit Map'

-# %h1= page_header

= simple_form_for @observation_search, url: search_observations_path(with_spots: 'with_spots', format: :json),
                                                            remote:true, method: :get, html: {class: 'search'} do |form|
  = render 'observations/search_fields', form: form

= render 'spots/form'

%ul.obs-list
  -#= render :partial => 'observations/obs_item', :collection => @observations

.mapContainer
  #googleMap
