- stylesheet 'map'
- @minimal_layout = true
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true
- javascript AssetsHelper::GMAP_API_URL, 'map_show'

- @page_title = 'Map'

.mapContainer
  #googleMap
