- stylesheet 'map'
- @body_class = 'map-page'
-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true
- javascript AssetsHelper::GMAP_API_URL, 'map_show'

- @page_title = 'Map'

.mapContainer
  #googleMap

%div.gray-panel
  %a{href: '/2013/08/site-news-map'} Сообщить об ошибке, оставить пожелание.

.gallery_window
  .wnd_close
    %span.close
      = image_tag("/img/x_14x14.png", width: 21, height: 21)
      %span.pseudolink Закрыть
  .gallery_container
