body
  background-color: #ffffff
  color: #333333

// Reusable

@mixin default-margin
  margin-left: 10px
  margin-right: 10px

.default-container
  @include default-margin

ul.horiz-list
  list-style-type: none
  li
    display: inline-block
    // IE inline-block fix
    zoom: 1
    *display: inline

.grayout
  background-color: #dddddd

.pseudolink
  text-decoration: underline
  color: blue
.pseudolink:hover
  cursor: pointer

// Neat table

table.neat_table
  border-top: 1px solid #ddd

  td, th
    padding: 2px 12px

  tr
    border-bottom: 1px solid #ddd

  th
    background-color: #f5f5f5
    text-align: left

  td
    h2, h3, h4
      margin: 10px 0

// TODO: refactor?

.align-right
  text-align: right !important

.align-left
  text-align: left !important

.align-center
  text-align: center !important

td.nowrap
  white-space: nowrap

// TODO: refactor?

.filter-list
  li
    margin: 0 5px
    padding: 0 4px
    background-color: #EBEBCF

.lifer_date
  text-align: right


// Specific

#above-footer
  min-height: 100%

#main
  margin-left: 50px !important

#header
  margin-bottom: 20px
  padding: 10px
  background-color: #D0E0FF

#header ul
  margin-left: 40px
  margin-bottom: 0
  display: inline-block
  // IE inline-block fix
  zoom: 1
  *display: inline

#site_menu, .admin_menu
  li
    margin: 2px 5px 2px 0
    border: 1px solid #cacaca
    padding: 5px 10px

#site_menu li
  font-size: 14px

.over-header
  margin-top: -10px
  margin-bottom: 10px
  border-bottom: 1px solid #aaaaaa
  font-size: 18px
  font-weight: normal
  color: #555555

.pagination span
  display: inline-block
  font-size: 14px
  border: 1px solid #cccccc
  padding: 3px 8px
  margin-right: 3px
  //width: 15px

footer
  @include default-margin
  border-top: 1px solid #555555
  padding: 10px 2px 0 2px