@import '_reset', '_text', '_global'

.main
  padding-bottom: 70px

td.thumbnail a img
  border: 2px solid #007700

footer
  margin-top: -55px

// Specific

.loci_index td
  vertical-align: middle

.column_layout
  @include inline-block
  vertical-align: top
  margin-right: 20px
