@import 'formalize.css'

label
  display: block
  color: #5555AA

form.simple_form
  margin-left: -10px
  margin-bottom: 20px
//  width: 660px

form.search
  display: inline-block
  margin-left: 0
  padding: 10px 10px 10px 0
  width: auto
  border: 1px solid #4444aa
  background-color: #dde4ff
  .buttons
    text-align: right

div.input
  display: inline-block
  vertical-align: top
  margin-left: 10px
  margin-bottom: 10px
//  width: 339px

div.input.block
  display: block
  margin-bottom: 20px

div.input.block.flat
  margin-top: 10px

div.input.flat label
  display: inline

div.boolean.flat label
  margin-left: 4px

// Radios
div.input span
  display: block
  label
    display: inline
    margin-left: 4px

div.input span.pseudolink
  display: inline
  margin: 0 5px

div.input
  span.error
    color: #ff0000
    font-size: 16px
    font-weight: bold

input.string
  width: 300px

input.string.short
  width: 100px

input.string.long
  width: 620px

input.string.larger
  font-size: 16px
  font-weight: bold

textarea
  width: 620px

div.buttons
  margin: 10px 0 0 10px

input.button
  width: 140px
  
.errors
  color: #ff0000
  font-size: 16px
  font-weight: bold

// Specific

.to-add-row
  display: none

form.observation
  div.to-add-row
    label
      color: green
    input
      border-color: green

  div.obs-row
    //display: table-row
    div
      display: table-cell
      padding-left: 10px
      padding-bottom: 10px
      background-image: none

  // Refactor?
  div.obs-row
    margin-left: -16px
    padding-left: 16px // needed for success icon
    margin-bottom: 3px
    display: inline-block
    .for-remove
      padding-top: 17px
  div.obs-row.has-id
    background: transparent url('/images/check_alt_16x16.png') no-repeat scroll 5px 20px
  div.obs-row.save-success
    background-color: #ccffcc
  div.obs-row.save-fail
    background-color: #ffcccc


//form.simple_form
//  width: 660px
//  div.input
//    span.error
//      color: #AA0000
//      display: block
//
//
//table.observations_block
//  margin: 10px
//  td
//    padding: 5px
//    vertical-align: top
//    border: 1px solid #999999
//    div.input
//      display: block
//      input, select
//        font-size: 105%
//  td.observations_list
//    label
//      display: inline
//    div.check_boxes
//      display: block
//      span
//        display: block

