.block
  display: block !important

form
  padding: 0
  margin: 0

label
  display: block
  color: #5555AA
  font-family: Verdana
  font-size: 90%
  margin-bottom: 3px

form.simple_form
  //border: 1px solid green
  width: 660px
  div.input
    //border: 1px solid red
    display: inline-block
    //width: 300px
    vertical-align: top
    margin: 10px
    span.error
      color: #AA0000
      display: block
  input.string
    width: 300px
  textarea
    width: 620px
  input.button
    display: block
    margin: 10px
    width: 140px

form.observation
  width: auto
  input, select
    font-size: 105%
  div.bunch div.input
    input.string, select
      width: 220px

form.search
  display: inline-block
  width: auto
  margin-bottom: 10px
  border: 1px solid #4444aa
  background-color: #dde4ff
  input, select
    font-size: 105%
  input#search_observ_date_eq
    width: 100px