@import '_reset', '_text', '_global'

#main
  @include default-margin
  padding-bottom: 55px

.post-box
  margin-bottom: 20px
  header
    margin-bottom: 20px
    .post-title
      margin-bottom: 5px
    time
      font-style: italic
  h1, h2
    font: bold 28px "Times New Roman", Georgia, serif
    //letter-spacing: 1px
  p
    font: 17px/1.2 "Times New Roman", Georgia, serif


div.imageholder
  display: inline-block
  width: 140px
  height: 150px
  margin: 0 2px 6px 0
  padding: 10px 0
  background-color: #e6e6e6
  text-align: center
  // vertical-align: top is necessary for IE7
  vertical-align: top
  // IE inline-block fix
  zoom: 1
  *display: inline
  a img
    vertical-align: text-top
    border: 2px solid #007700

.lifer_row
  span, time, em
    margin: 0 5px
    display: inline-block
  time, em
    text-align: right
    font-style: italic
  time
    width: 140px
  em
    width: 35px
  span
    width: 380px

footer
  margin-top: -35px