body
  font-family: verdana, arial, helvetica, sans-serif


#header
  background-color: #D0E0FF


#footer
  border-top: 1px solid #555555


ol.lifelist
  a.sp_link, i.lat
    display: block
    float: left
    width: 30%