@import '_reset', '_text', '_global'

.main
  padding-bottom: 55px

article.post
  header
    margin-bottom: 10px
    .post-title
      margin-bottom: 0
    time
      font-style: italic
  h1, h2
    font: bold 28px "Times New Roman", Georgia, serif
    //letter-spacing: 1px
  p
    font: 17px/1.2 "Times New Roman", Georgia, serif

section.post-box
  margin-bottom: 30px
  border-bottom: 1px solid #eee

section.photos
  margin-bottom: 20px

p.comment_links
  text-align: right
  margin: -5px 5px 2px 0

div.imageholder
  display: inline-block
  width: 140px
  height: 150px
  margin: 0 2px 6px 0
  padding: 10px 5px
  background-color: #e6e6e6
  text-align: center
  // vertical-align: top is necessary for IE7
  vertical-align: top
  // IE inline-block fix
  zoom: 1
  *display: inline
  a img
    vertical-align: text-top
    border: 2px solid #007700
  font-size: 11px
  line-height: 11px
  overflow: hidden
  .imagetitle
    margin-top: 5px
    a, a:hover
      background-color: inherit
      color: #666
      text-decoration: none


div.comment
  margin-left: -5px
  padding: 5px 5px 0 5px
  border-top: 1px solid #ddd
  .name
    font-weight: bold
    font-size: 15px
  time
    font-style: italic
    font-size: 12px
  a.destroy
    float: right
  .reply
    margin-top: -15px
    margin-bottom: 20px
  form.comment
    margin-left: 20px
    border-left: 1px solid #ddd

.subcomments
  padding-left: 40px

form.comment
  margin-left: -10px
  margin-bottom: 20px

  label
    vertical-align: top
    display: inline-block
    width: 64px
    color: #5555AA

  div.input
    display: block
    margin-left: 10px
    margin-bottom: 10px

  input.string
    width: 440px

  textarea
    width: 620px

  div.buttons
    margin: 10px 0 0 10px
    input.button
      width: 140px
      height: 30px

.lifer_row
  span, time, em
    margin: 0 5px
    display: inline-block
  time, em
    text-align: right
    font-style: italic
  time
    width: 140px
  em
    width: 35px
  span
    width: 380px

footer
  margin-top: -35px