-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true
- @body_class = 'wider'

- @js_controller = :species_admin

- provide :add_shortcuts do
  %li= link_to "Legacy species", legacy_species_index_path

- @page_title = 'Species'

%h1= page_header

= render 'admin/shortcuts' if current_user.admin?

%div.admin_sp_search_container
  Search:
  %input{type: "text", id: "admin_sp_search"}

.species_list_container
  = render "species/table"
