-# enable HTML5 in IE
/[if lt IE 9]
  = javascript_include_tag 'html5'

= stylesheet_link_tag(*@stylesheets.compact) if @stylesheets.present?
= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"

-# scripts
- scripts = @scripts.try(:compact) || []
= javascript_include_tag(*scripts.unshift('application'))
