= stylesheet_link_tag(*@stylesheets.uniq) if @stylesheets.present?

-# enable HTML5 in IE
/[if lt IE 9]
  = javascript_include_tag 'html5'

-# scripts
= javascript_include_tag(*@scripts.uniq) if @scripts.present?