= stylesheet_link_tag(*@stylesheets.compact) if @stylesheets.present?

-# enable HTML5 and media queries in IE
/[if lt IE 9]
  = javascript_include_tag "ie_fix"

-# scripts
- scripts = @scripts.try(:compact) || []
= javascript_include_tag(*scripts.unshift('application'))


-# Webpacker bundles
- if @web_bundles
  = javascript_pack_tag *@web_bundles
