-# enable HTML5 in IE
/[if lt IE 9]
  = javascript_include_tag 'html5'

= stylesheet_link_tag(*@stylesheets.compact) if @stylesheets.present?

-# scripts
- scripts = @scripts.try(:compact) || []
- if current_user.admin?
  = javascript_include_tag(*scripts.unshift(JQUERY_URL, 'application'))
- elsif scripts.any?
  = javascript_include_tag(*scripts.unshift(JQUERY_URL))
