-# frozen_string_literal: true
#header

  = render 'admin/menu'

  = render "shared/banner"

  #userheader

    - I18n.with_locale(@main_menu_locale || I18n.locale) do
      -# Template Dependency: partials/search
      = include_google_search

      #menucontainer
        = render "partials/user_menu"
