<div id="cse-wrapper">
<form action="http://www.google.com/cse" id="cse-search-box">
    <input name="cx" type="hidden" value="<%= code %>" />
    <input name="ie" type="hidden" value="UTF-8" />
    <input name="q" id="cse-query-box" autocomplete="off" />
    <input name="sa" type="submit" value="<%= t(".search_button") %>" id="cse-submit" />
</form>
</div>
