-# frozen_string_literal: true

%ul.translated
  - other_locales.each do |new_locale|
    %li
      - link_hash = amended_params({locale: new_locale == I18n.default_locale ? nil : new_locale})
      = link_to link_hash, lang: new_locale, hreflang: new_locale, rel: :alternate, class: "translated-link translated-link-#{new_locale}" do
        %span<>= t("translated.#{new_locale}")
