-# frozen_string_literal: true
- new_locale = Set.new([:en, :ru]).delete(I18n.locale).first
- url = defined?(url) ? url : {}
- new_params = url.kind_of?(Hash) ? url : significant_params
- link_hash = new_params.merge({locale: new_locale == :ru ? nil : new_locale})

%nav.translated
  = link_to t("translated.#{new_locale}"), link_hash, lang: new_locale, hreflang: new_locale, rel: :alternate
