-# frozen_string_literal: true
%div.winter-banner
  = image_tag("https://bwua-static.s3.eu-central-1.amazonaws.com/winter-banner.jpg")
  %div
    %span новая страница:
    %br
    = link_to("Зимующие птицы Украины &gt;&gt;".html_safe, winter_path)
