%div.winter-banner
  = image_tag("http://farm8.staticflickr.com/7431/11178604643_33b30255eb_o.jpg")
  %div
    %span новая страница:
    %br
    = link_to("Зимующие птицы Украины &gt;&gt;".html_safe, "/winter")
