- unless @years.blank?
  %ul.horiz-list.filter-list
    %strong Years:
    - @years.each do |year|
      %li
        - if year.nil?
          = params[:year].nil? ? content_tag(:span, 'All') : link_to('All', significant_params.merge(:year => nil))
        - else
          = link_to_or_span(year, significant_params.merge(:year => year))