@import url(formalize.css);
label {
  display: block;
  color: #5555aa; }

form.simple_form {
  margin-left: -10px; }

div.input {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-bottom: 10px; }

input.string {
  width: 300px; }

input.string.short {
  width: 100px; }

input.string.long {
  width: 620px; }

input.string.larger {
  font-size: 16px;
  font-weight: bold; }

textarea {
  width: 620px; }

div.buttons {
  margin: 10px; }

input.button {
  width: 140px; }
