body {
  background-color: white;
  color: #333333;
  font-size: 90%; }

.align-right {
  text-align: right !important; }

.align-left {
  text-align: left !important; }

.align-center {
  text-align: center !important; }

table.neat_table {
  border-collapse: collapse;
  border-top: 1px solid #dddddd; }
  table.neat_table td, table.neat_table th {
    padding: 2px 12px; }
  table.neat_table tr {
    border-bottom: 1px solid #dddddd; }
  table.neat_table th {
    background-color: #f5f5f5;
    text-align: left; }

table.admin_panel {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffcc88; }
  table.admin_panel td {
    border: 2px dotted #bb8855;
    padding: 5px 5px; }
  table.admin_panel h5, table.admin_panel h6 {
    display: inline;
    padding: 0 3px; }
  table.admin_panel h5 {
    font-size: 110%; }
  table.admin_panel h6 {
    font-size: 90%; }

.horiz-list {
  padding: 0; }
  .horiz-list li {
    display: inline;
    list-style-type: none;
    padding: 0 1em; }

.filter-list li {
  padding: 0 2px;
  background-color: #ebebcf; }

#years-filter {
  padding-left: 0; }
  #years-filter li {
    margin: 0 5px; }
