body {
  background-color: white;
  color: #333333;
  font-size: 90%; }

.align-right {
  text-align: right !important; }

.align-left {
  text-align: left !important; }

.align-center {
  text-align: center !important; }

table.neat_table {
  border-collapse: collapse;
  border-top: 1px solid #dddddd; }
  table.neat_table td, table.neat_table th {
    padding: 2px 12px; }
  table.neat_table tr {
    border-bottom: 1px solid #dddddd; }
  table.neat_table th {
    background-color: #f5f5f5;
    text-align: left; }

table.admin_panel {
  border-collapse: collapse;
  width: 100%; }
  table.admin_panel td {
    border: 1px solid #dddddd;
    padding: 2px 5px; }
