<div class="video-container">
<iframe width="<%= youtube_embed.width %>" height="<%= youtube_embed.height %>"
        src="<%= youtube_embed.url %>" frameborder="0" allowfullscreen></iframe>
</div>div>
