- stylesheet 'forms'

- @page_title = 'View and edit settings'

%h1= page_header

%p#notice= notice

= form_tag(settings_save_path, method: :post, class: 'simple_form') do

  %h2 Flickr App

  %div.input.string
    %label API key
    %input.string.api_key{name: 's[flickr_app][api_key]', type: :text, value: Settings.flickr_app.api_key}

  %div.input.string
    %label Shared secret
    %input.string{name: 's[flickr_app][shared_secret]', type: :text, value: Settings.flickr_app.shared_secret}

  %div.buttons
    %input.button#save_button{:type => :submit, :value => 'Save'}
