-# frozen_string_literal: true
- stylesheet 'forms'

- @page_title = 'View and edit settings'

%h1= page_header

- if notice
  %p#notice= notice

= form_tag(settings_save_path, method: :post, class: 'simple_form') do
  %h2 Flickr Admin

  %div
    %div.input.string
      %label User id
      %input.string{name: 's[flickr_admin][user_id]', type: :text, value: Settings.flickr_admin.user_id}

    %div.input
      = link_to "Reauthenticate", flickr_auth_path

  %div.input.string
    %label Access token
    %input.string.medium{name: 's[flickr_admin][access_token]', type: :text, value: Settings.flickr_admin.access_token}

  %div.input.string
    %label Access secret
    %input.string{name: 's[flickr_admin][access_secret]', type: :text, value: Settings.flickr_admin.access_secret}

  %h2 Livejournal User

  %div.input.string
    %label User name
    %input.string{name: 's[lj_user][name]', type: :text, value: Settings.lj_user.name}

  %div.input.string
    %label Password
    %input.string{name: 's[lj_user][password]', type: :password, value: Settings.lj_user.password}

  %h2 eBird User

  %div.input.string
    %label User name
    %input.string{name: 's[ebird_user][name]', type: :text, value: Settings.ebird_user.name}

  %div.input.string
    %label Password
    %input.string{name: 's[ebird_user][password]', type: :password, value: Settings.ebird_user.password}

  %h2 Administration

  %div.input.checkbox
    %input{name: 's[disable_comments]', type: :hidden, value: "0"}
    %label
      %input.checkbox{name: 's[disable_comments]', type: :checkbox, value: "1", checked: Settings.disable_comments}
      Disable comments

  %div.input.checkbox
    %input{name: 's[disable_email]', type: :hidden, value: "0"}
    %label
      %input.checkbox{name: 's[disable_email]', type: :checkbox, value: "1", checked: Settings.disable_email}
      Disable email

  %h2 Current year

  %div.input.string
    %label Current year
    %input.string{name: 's[current_year]', type: :text, value: Settings.current_year}


  %div.input.checkbox
    %input{name: 's[new_year_mode]', type: :hidden, value: "0"}
    %label
      %input.checkbox{name: 's[new_year_mode]', type: :checkbox, value: "1", checked: Settings.new_year_mode}
      New year mode

  %div.buttons
    %input.button#save_button{:type => :submit, :value => 'Save'}
