-# no_viewport is for very wide pages, e.g. with table
- @no_viewport = true

- @page_title = "Birds of Manitoba"

- translated

%div.header-with-subheader
  %h1.over-header
    = page_header

= render 'checklist'
