-# frozen_string_literal: true
- @page_title = "Birds of Manitoba"

- content_for :translated do
  = render 'partials/translated'

%div.header-with-subheader
  %h1.over-header
    = page_header

= render 'checklist'
