- @page_title = "Ссылки"

-# @robots = 'NOINDEX'

%h1 Ссылки
.fluid-row
  .fluid-column
    %h3 Сообщества, наблюдения
    %ul
      %li
        %a{href: "http://uabirds.org/", rel: "nofollow"} Сообщество украинских бердвочеров
      %br/
      %li
        Facebook:
        %a{href: "https://www.facebook.com/groups/birdwatching.ua/", rel: "nofollow"} группа «Бердвочинг в Украине»
      %li
        Facebook:
        %a{href: "https://www.facebook.com/groups/314374912088175/", rel: "nofollow"} группа «Птахи України»
      %li
        Flickr: группа
        %a{href: "https://www.flickr.com/groups/birdsofukraine/", rel: "nofollow"} Birds of Ukraine
      %br/
      %li
        %strong
          %a{href: "https://ebird.org/home?lang=ru", rel: "nofollow"} eBird.org
        — Регистрация наблюдений, статистика, карты
        %small.less-important (доступны английский, русский, украинский языки)
      %br/
      %li
        %a{href: "https://www.birdforum.net/", rel: "nofollow"} birdforum.net
        — Крупнейший международный форум бервочеров
        %small.less-important (English)

  .fluid-column
    %h3 Личные блоги, галереи
    %ul
      %li.starred{title: "Recommended"}
        %strong
          %a{href: "https://bird-hobby.com.ua"} bird-hobby.com.ua
        — Сайт Виктора Мороза (блог, фотографии)
      %br/
      %li
        %a{href: "https://mns.ks.ua/"} mns.ks.ua
        — Блог Юрія Москаленка (Чорноморський біосферний заповідник)
      %br/
      %li
        %a{href: "https://glav-ryba.livejournal.com/", rel: "nofollow"} ЖЖ-блог Ильи Уколова
      %br/

.fluid-row
  .fluid-column
    %h3 Определители, ресурсы
    %ul
      %li
        %a{href: "http://aves.land.kiev.ua/", rel: "nofollow"} Птахи України
        — Видовые очерки из определителя Г. В. Фесенко, А. А. Бокотея
      %li
        %a{href: "https://www.rspb.org.uk/birds-and-wildlife/wildlife-guides/bird-a-z/", rel: "nofollow"} Птицы Великобритании
        %small.less-important (English)
      %li
        %a{href: "https://www.allaboutbirds.org/guide/browse_tax.aspx", rel: "nofollow"} allaboutbirds.org
        — Птицы Северной Америки
        %small.less-important (English)
      %li
        %a{href: "https://zoomet.ru/metod_ptica.html", rel: "nofollow"} «Зоометод»
        — Библиотека биологической литературы, раздел «Птицы»
      %li
        %a{href: "https://www.xeno-canto.org/", rel: "nofollow"} xeno-canto
        — Всемирная библиотека голосов птиц
        %small.less-important (English)


  .fluid-column
    %h3 Наука
    %ul
      %li
        %a{href: "https://raptors.org.ua", rel: "nofollow"} Украинский центр исследований хищных птиц

      %li
        %a{href: "https://zuotov.blogspot.ca", rel: "nofollow"} Західноукраїнське орнітологічне товариство

      %li
        %a{href: "http://aetos.kiev.ua", rel: "nofollow"} «Беркут»
        — украинский орнитологический журнал (можно скачать статьи в PDF)
      %br/
      %li
        %a{href: "https://www.hbw.com/dictionary/key-to-scientific-names-in-ornithology", rel: "nofollow"}
          Key to Scientific Names in Ornithology
        — Этимология научных названий птиц
        %small.less-important (English)


.fluid-row
  .fluid-column
    %h3 Прочее
    %ul

      %li
        %a{href: "http://birdlife.org.ua", rel: "nofollow"} birdlife.org.ua
        — Українське товариство охорони птахів
      %li
        %a{href: "http://birdwatch.by", rel: "nofollow"} birdwatch.by
        — Сообщество белорусских бердвочеров

      %li
        %a{href: "http://birds-online.ru", rel: "nofollow"} birds-online.ru
        — «Птицы-онлайн» Ильи Уколова

  .fluid-column
    %h3 Мои страницы
    %ul
      %li
        %a{href: "https://www.flickr.com/photos/phenolog/", rel: "nofollow"} phenolog
        — Моя страница на Фликре
      %li
        %a{href: "https://stonechat.livejournal.com/", rel: "nofollow"} stonechat
        — Зеркало блога в LiveJournal
      %li
        %a{href: "https://whinchat.dreamwidth.org/", rel: "nofollow"} whinchat
        — Зеркало блога в DreamWidth
      %li
        %a{href: "https://www.facebook.com/birdwatch.org.ua/", rel: "nofollow"} Страница моего блога в Facebook
