- @page_title = t('menu.links')

- cache do

  %h1= page_header

  :textile
    h3. Мои рекомендации
    * <a href="http://bird-hobby.com.ua/">bird-hobby.com.ua</a> — Сайт Виктора Мороза (блог, фотографии)
    * <a href="http://raptors.org.ua/" rel="nofollow">Украинский центр исследований хищных птиц</a>
    * <a href="http://rbcu.ru/forum/" rel="nofollow">http://rbcu.ru/forum/</a> — Форум <acronym title="Союз охраны птиц России">СОПР</acronym>

    h3. Бердвочеры и фотоанималисты Украины
    * <a href="http://andrey-pavlyuk.livejournal.com/" rel="nofollow">Андрей Павлюк</a>
    * <a href="http://alekseykarpenko.livejournal.com/" rel="nofollow">Алексей Карпенко</a>
    * <a href="http://kostyapazyuk.livejournal.com/" rel="nofollow">Костя Пазюк</a>
    * <a href="http://sergeshk.livejournal.com/" rel="nofollow">Сергей Шкарупо</a>
    * <a href="http://voodison.livejournal.com/" rel="nofollow">Владимир Кучеренко</a>
    * <a href="http://mns.ks.ua/">Блог співробітника Чорноморського біосферного заповідника</a>

    h3. Литература и определители

    * <a href="http://aves.land.kiev.ua/" rel="nofollow">Птахи України</a> — Видовые очерки из определителя Фесенко и Бокотея
    * <a href="http://raptor.in.ua/" rel="nofollow">Хижі птахи України</a>
    * <a href="http://www.ecosystema.ru/08nature/birds/index.htm" rel="nofollow">ecosystema.ru</a> — Птицы средней полосы России
    * <a href="http://www.sevin.ru/vertebrates/index.html?pre_birds.html" rel="nofollow">База данных позвоночных животных России</a>
    * <a href="http://birds.krasu.ru/" rel="nofollow">Птицы Средней Сибири</a>
    * <a href="http://floranimal.ru/" rel="nofollow">floranimal.ru</a> — Описания животных и растений мира
    * <a href="http://zoomet.ru/" rel="nofollow">«Зоометод»</a> — Библиотека биологической литературы (см. раздел <a href="http://zoomet.ru/metod_ptica.html" rel="nofollow">Птицы</a>, в т. ч. «Фауна Украины, т. 5. Птицы»)
    * <a href="http://mail.menr.gov.ua/publ/redbook/redbook.php" rel="nofollow">Червона книга України</a> (1994) — в т. ч. розділ <a href="http://mail.menr.gov.ua/publ/redbook/redbook.php?lang=ukr&kingdom=1&class=10" rel="nofollow">«Птахи»</a>
    * <a href="http://aetos.narod.ru/" rel="nofollow">«Беркут»</a>  — украинский орнитологический журнал (можно скачать статьи в PDF)
    * <a href="http://avibase.bsc-eoc.org/" rel="nofollow">Avibase</a>  — видовые списки (чеклисты) по странам и регионам мира

    h3. Сайты, блоги, галереи

    * <a href="http://birds.kz">http://birds.kz</a> — Птицы Казахстана
    * <a href="http://birds-online.ru">http://birds-online.ru</a> — «Птицы-онлайн» Ильи Уколова
    * <a href="http://yarbirds.ru">http://yarbirds.ru</a> — Птицы Ярославской области
    * <a href="http://dmitryyakubovich.com/index.php/ru/">http://dmitryyakubovich.com</a> — Дмитрий Якубович (Беларусь)
    * <a href="http://www.philomachus.ru/" rel="nofollow">http://www.philomachus.ru/</a> — Проект Турухтан
    * <a href="http://nature.doublea.ru/" rel="nofollow">http://nature.doublea.ru/</a> — Сайт Александра Зародова
    * <a href="http://www.deryabino.ru/ptaha/ptaha.htm" rel="nofollow">Фотографии птиц Москвы и Подмосковья</a> Владимира Дерябина
    * <a href="http://www.birdsmaryno.msk.ru/" rel="nofollow">http://www.birdsmaryno.msk.ru/</a> — Птицы района Марьино (Москва)
    * <a href="http://www.naturalist.if.ua/">«Станіславівський натураліст»</a> — новини біології, екології, дослідження природи

    h3. Общение

    * <a href="http://rbcu.ru/forum/" rel="nofollow">http://rbcu.ru/forum/</a> — Форум <acronym title="Союз охраны птиц России">СОПР</acronym>
    * <a href="http://birdwatch.by/">http://birdwatch.by</a> — Сообщество белорусских бердвочеров
    * <a href="http://birdforum.net" rel="nofollow">http://birdforum.net</a> — Международный англоязычный форум

    * <a href="http://community.livejournal.com/birdlife_ua/" rel="nofollow">birdlife_ua</a> — ЖЖ-сообщество, посвященное птицам Украины
    * <a href="http://community.livejournal.com/ru_birds/" rel="nofollow">ru_birds</a> — ЖЖ-сообщество, посвященное птицам стран СНГ

    h3. Научные учреждения

    * <a href="http://ornitology.narod.ru/" rel="nofollow">Азово-Черноморская орнитологическая станция</a>
    * <a href="http://birdsmoscow.net.ru/" rel="nofollow">Программа «Птицы Москвы и Подмосковья»</a>

    h3. Организации

    * <a href="http://birdlife.org.ua/" rel="nofollow">http://birdlife.org.ua</a> — Товариство охорони птахів (Україна)
    * <a href="http://rbcu.ru/" rel="nofollow">http://rbcu.ru</a> — Союз охраны птиц России
    * <a href="http://ptushki.org/" rel="nofollow">http://ptushki.org</a> — Ахова птушак Бацькаўшчыны (Беларусь)

    h3. Flickr.com

    * <a href="http://www.flickr.com/groups/birdsofukraine/" rel="nofollow">Birds of Ukraine</a> — Группа «Птицы Украины»
    * <a href="http://www.flickr.com/photos/phenolog/" rel="nofollow">Phenolog</a> — Моя страница на Фликре

