- @page_title = "Ссылки"

- @robots = 'NOINDEX'

%h1 Ссылки
.fluid-row
  .fluid-column
    %h3 Мои рекомендации
    %ul
      %li
        %strong
          %a{:href => "http://bird-hobby.com.ua"} bird-hobby.com.ua
        — Сайт Виктора Мороза (блог, фотографии)
      %li
        %strong
          %a{:href => "http://raptors.org.ua/", :rel => "nofollow"} Украинский центр исследований хищных птиц
      %li
        %a{:href => "http://dakivganov.livejournal.com/", :rel => "nofollow"} Дмитрий Кивганов
        – природа юга Украины (особенно о-в Змеиный)
        %br/
  .fluid-column
    %h3 Бердвочеры и фотоанималисты Украины
    %ul
      %li
        %a{:href => "http://birds.aosimon.org.ua/uk", :rel => "nofollow"} Андрей Симон
      %li
        %a{:href => "http://birdwatching-ua.livejournal.com/", :rel => "nofollow"} Дмитрий Сыч
      %li
        %a{:href => "http://andrey-pavlyuk.livejournal.com/", :rel => "nofollow"} Андрей Павлюк
      %li
        %a{:href => "http://alekseykarpenko.livejournal.com/", :rel => "nofollow"} Алексей Карпенко
      %li
        %a{:href => "http://kostyapazyuk.livejournal.com/", :rel => "nofollow"} Костя Пазюк
      %li
        %a{:href => "http://voodison.livejournal.com/", :rel => "nofollow"} Владимир Кучеренко
      %li
        %a{:href => "http://mns.ks.ua/"} Блог Юрія Москаленка
        (Чорноморський біосферний заповідник)
        %br/
  %br/
.fluid-row
  .fluid-column
    %h3 Литература и определители
    %ul
      %li
        %a{:href => "http://aves.land.kiev.ua/", :rel => "nofollow"} Птахи України
        — Видовые очерки из определителя Фесенко и Бокотея
      %li
        %a{:href => "http://raptor.in.ua/", :rel => "nofollow"} Хижі птахи України
      %li
        %a{:href => "http://zoomet.ru/metod_ptica.html", :rel => "nofollow"} «Зоометод»
        — Библиотека биологической литературы, раздел «Птицы»
      %li
        %a{:href => "http://aetos.kiev.ua/", :rel => "nofollow"} «Беркут»
        — украинский орнитологический журнал (можно скачать статьи в PDF)
      %li
        %a{:href => "http://avibase.bsc-eoc.org/", :rel => "nofollow"} Avibase
        — видовые списки (чеклисты) по странам и регионам мира
        %br/
  .fluid-column
    %h3 Сайты, блоги, галереи
    %ul
      %li
        %a{:href => "http://birds.kz"} http://birds.kz
        — Птицы Казахстана
      %li
        %a{:href => "http://birds-online.ru"} http://birds-online.ru
        — «Птицы-онлайн» Ильи Уколова
      %li
        %a{:href => "http://nature.doublea.ru/", :rel => "nofollow"} http://nature.doublea.ru/
        — Сайт Александра Зародова
        %br/
  %br/
.fluid-row
  .fluid-column
    %h3 Общение
    %ul
      %li
        %a{:href => "http://birdwatch.by/", :rel => "nofollow"} http://birdwatch.by
        — Сообщество белорусских бердвочеров
      %li
        %a{:href => "http://birdforum.net", :rel => "nofollow"} http://birdforum.net
        — Международный англоязычный форум
    %ul
      %li
        %a{:href => "http://community.livejournal.com/birdlife_ua/", :rel => "nofollow"} birdlife_ua
        — ЖЖ-сообщество, посвященное птицам Украины
        %br/
  .fluid-column
    %h3 Организации
    %ul
      %li
        %a{:href => "http://zuotov.blogspot.ca/", :rel => "nofollow"} http://zuotov.blogspot.ca/
        — Західноукраїнське орнітологічне товариство
      %li
        %a{:href => "http://birdlife.org.ua/", :rel => "nofollow"} http://birdlife.org.ua
        — Товариство охорони птахів (Україна)
  %br/
.fluid-row
  .fluid-column
    %h3 Flickr.com
    %ul
      %li
        %a{:href => "http://www.flickr.com/groups/birdsofukraine/", :rel => "nofollow"} Birds of Ukraine
        — Группа «Птицы Украины»
      %li
        %a{:href => "http://www.flickr.com/photos/phenolog/", :rel => "nofollow"} Phenolog
        — Моя страница на Фликре
        %br/
  %br/
