- stylesheet 'public'

= render 'admin/shortcuts' if current_user.admin?

- @social_likes = @page.meta.social
- @canonical = show_page_url(@page, protocol: 'http') rescue nil

- cache @page do

  %h1= page_header

  - if @page.meta.social
    = render 'social/buttons'

  = @page.formatted.text
