:root {
  --color-green-link: #27834e;
  --color-green-link-border: rgba(39, 131, 78, 0.45);
  --color-green-link-border-hover: rgba(39, 131, 78, 1);
  --color-blue-menu: #407FBF;
  --color-blue-menu-hover: #306faf;
  --color-blue-menu-border: rgba(64, 127, 191, 0.6);
  --color-orange-trans: #ee7711;
  --color-orange-trans-hover: #f58200;
  --color-orange-trans-border: rgba(238, 119, 17, 0.6);
  --color-orange-badge: #ff8800;
  --color-bg-beige: #f7f7f1;
  --color-bg-footer: #f5f5f5;
  --color-border-gray: #ced4da;
}
