.admin-menu {
  @extend .container-fluid;
  @extend .d-print-none;
  @extend .text-center;
  @extend .py-1;
  background-color: #2d2d2d;
  color: #cccccc;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: small;

  a:not(.logout_btn) {
    color: #cccccc;
    border-bottom: none;
    &:hover {
      border-bottom: none;
      color: white;
      text-decoration: underline;
    }
  }

  a.logout_btn {
    @extend .btn;
    @extend .btn-light;
    @extend .btn-sm;
    @extend .py-0;
    font-size: small;
    font-family: Helvetica, Arial, sans-serif;
  }

  .admin-menu-list {
    @extend .list-inline;
    @extend .mb-0;
    li {
      @extend .list-inline-item;
    }
    .adder {
      font-size: 0.875rem;
      text-transform: uppercase;
    }
  }

  .failing_jobs_badge {
    color: white;
    font-size: 0.75rem;
    @extend .badge;
    @extend .bg-danger;
  }
}
