.search-section {
  @extend .container-fluid;
  @extend .py-2;
  @extend .d-print-none;
  border-bottom: 1px solid $gray-400;
  background-color: #f7f7f1;

  @include media-breakpoint-up(xl) {
    position: absolute;
    width: auto;
    right: 0;
  }

  input#cse-query-box {
    width: 223px !important;
    border-radius: 6px;
    margin-right: 6px;
    //border-color: $gray-500;
  }

  input#submit-search {
    //@include button-variant($gray-700, $gray-700);
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid #407FBF;
    background-color: white;
    &:hover {
      background-color: #f5f5f5;
      color: #407FBF;
    }
  }
}
