-# frozen_string_literal: true
%ul.subheader-menu
  %li= link_to(t("countries.gallery.title.ukraine"), country_path(country: 'ukraine'))
  %li= link_to(t("countries.gallery.title.usa"), country_path(country: 'usa'))
  %li= link_to(t("countries.gallery.title.canada"), country_path(country: 'canada'))
