-# frozen_string_literal: true
%ul.subheader-menu
  %li= link_to(t("countries.gallery.title.ukraine"), country_path(country: 'ukraine'))
  %li= link_to(t("countries.gallery.title.united_kingdom"), country_path(country: 'united_kingdom'))
  %li= link_to(t("countries.gallery.title.canada"), country_path(country: 'canada'))
