-# frozen_string_literal: true
- stylesheet "forms"

- @page_title = "eBird Imports"

%h1= page_header

- if notice
  %p= notice

= button_to "Enqueue preload", refresh_ebird_imports_path,
            method: :post, remote: true,
            class: "button", form: {id: :ebird_refresh_form}

= render partial: "ebird/imports/preloaded"

