-# frozen_string_literal: true
- @page_title = 'Страница не найдена (404)'

%h1= page_header

%p
  Страница не найдена. Возможно, она была удалена, перемещена, или вы ошиблись в наборе адреса.
  Пожалуйста, воспользуйтесь поиском.
