-# frozen_string_literal: true
- @page_title = 'Page not found (404)'

%h1 Page not found (404)

%p
  The requested page cannot be found. It could have been moved or deleted, or you might have mistyped the URL.
  Please, consider using the search bar.


%h1 Сторінку не знайдено

%p
  Сторінку не знайдено. Можливо, вона була видалена або перенесена, або ви допустили помилку в адресі.
  Будь ласка, скористайтеся функцією пошуку.


%h1 Страница не найдена

%p
  Страница не найдена. Возможно, она была удалена, перемещена, или вы ошиблись в наборе адреса.
  Пожалуйста, воспользуйтесь поиском.
