-# frozen_string_literal: true
- @page_title = 'Server error (500)'

%h1 Server error (500)
%p
  Site administrator will be notified.

%h1 Помилка сервера
%p
  Про це буде повідомлено адміністратора сайта.

%h1 Ошибка сервера
%p
  Администратор сайта будет извещен.
