-# frozen_string_literal: true

.video-block{style: "max-width: #{embed.width}px"}
  .video-container
    = render "videos/youtube_embed", embed: embed, privacy: true
  .yt_link
    = link_to embed.page_url, target: :_blank, rel: "nofollow noopener" do
      = I18n.t("videos.watch_on_youtube")
      %b
        %i.fab.fa-youtube
