-# frozen_string_literal: true
.likely{"data-url": @canonical.presence}
  .facebook Share
  .twitter Tweet
  - if @meta_thumbnail
    .pinterest{"data-media": @meta_thumbnail} Pin it
  .telegram Send
