- @social_likes = true

- cache :social_buttons do

  %p
    - if FacebookSdk.configured?
      = render 'social/fb_like'

      = render 'social/gplus_like'

    - if VkontakteSdk.configured?
      = render 'social/vk_like'
