<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
    FB.init({
        appId      : $("meta[property='fb:app_id']").attr('content'),
        xfbml      : true,
        cookie     : true,
        status     : true,
        version    : 'v2.6'
    });
};

(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

$(function() {
    $(".facebook-login").click(function(e) {
        e.preventDefault();
        FB.login(function(response) {
            if (response.authResponse) {
                $('#connect').html('Connected! Hitting OmniAuth callback (GET /auth/facebook/callback)...');
                // since we have cookies enabled, this request will allow omniauth to parse
                // out the auth code from the signed request in the fbsr_XXX cookie

              // FIXME: WORKAROUND FOR CHROME + test app!
              var cookie_name = "fbsr_" + $("meta[property='fb:app_id']").attr('content');

              var match = document.cookie.match(new RegExp(cookie_name + '=([^;]+)'));
              if(match == null) {
                document.cookie = cookie_name + "=" + response.authResponse.signedRequest + ";path=/";
              }
                console.log("For some reason this does not work in Chrome, cookie is not created. "+
                "See https://github.com/mkdynamic/omniauth-facebook/issues/165");
              // It also says it should work for Test users but I failed.
              // END WORKAROUND

                $.getJSON('/auth/facebook/callback', function(json) {
                    $('#connect').html('Connected! Callback complete.');
                    $('#results').html(JSON.stringify(json));
//                    FB.api('/me', function(response) {
//                        console.log('Successful login for: ' + JSON.stringify(response));
//                    });
                });
            }
        }, { scope: 'public_profile,email', state: 'abc123' });
    });
});


</script>
