-# frozen_string_literal: true
- i = @lifelist.size + 1
- sorter = params[:sort].nil? ? :first_seen : :last_seen
- @lifelist.chunk {|s| s.public_send(sorter).observ_date.year}.each do |year, species_list|
  - if params[:year].blank?
    %tr
      %td.empty_cell
      %td{:colspan => 5}
        %h5.first_seen{id: "first_seen_#{year}"}= t("lifelist.by_date.seen_in.#{params[:sort] ? "last" : "first"}", year: year)
  - species_list.each do |sp|
    %tr
      %td.num_cell #{i -= 1}.
      = render partial: 'lifelist/advanced/lifer', object: sp
