-# frozen_string_literal: true
- i = 0
- @lifelist.group_by_taxonomy do |order, family, species_list|
  %tr
    %td.empty_cell
    %td{:colspan => 5}
      %h2.order= render partial: 'species/taxonomy', locals: {rank: :order, value: order}
      %h3.family= render partial: 'species/taxonomy', locals: {rank: :family, value: family}
  - species_list.each do |sp|
    %tr
      %td.num_cell #{i += 1}.
      = render partial: 'lifelist/advanced/lifer', object: sp
