-# frozen_string_literal: true
- @page_title = "Login"

- @robots = "NOINDEX,NOFOLLOW"

= form_tag(login_path, method: :post) do
  = text_field_tag :username
  = password_field_tag
  = submit_tag("Login", class: 'submit')
