.winter-alert {
  padding: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  background-color: #f8d7da;
  color: #842029;
  border: 1px solid #f5c2c7;

  h6 {
    color: #842029;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.winter_photo_table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;

  h3 {
    margin-bottom: 0.5rem;
  }

  td {
    padding: 0.5rem;
    border-top: 1px solid #dee2e6;
    vertical-align: top;
  }

  tr:first-child td {
    border-top: none;
  }

  td {
    p a.img {
      display: inline-block;
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }

    p img {
      display: block;
      border: 1px solid #999999;
    }

    &:first-child {
      p {
        margin-bottom: 0;
      }

      p .flickr_subscr {
        display: block;
        margin-top: 2px;
      }
    }
  }

  @media (max-width: 575.98px) {
    td {
      display: block;

      .flickr_subscr {
        display: block;
      }

      &:last-child {
        border-top: none;
      }

      &:first-child {
        padding-bottom: 0;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
