- if post.lang.to_sym != I18n.locale
  %div.diff_lang_expand_notice{data: {"expand-link": t(".expand")}}
    %p
      = t("posts.other_lang_notice.notice_text", in_language: t(post.lang, scope: "in_lang_names"))
