.post-box{:id => "post-#{post.code}"}
  %h2.post-title= link_to_unless_current post.title, public_post_path(post)

  %em.post-date= l(Date.parse(post.date), :format => :long)
  -#%small= post.topic

  = post_body(post)