- @page_title = 'Birdwatching diary'

= render @posts

- unless @prev_month.nil?
  %nav.month-navigation
    = link_to '<< Previous posts', month_path(@prev_month)
    = "(#{[t('date.month_names')[@prev_month[:month].to_i], @prev_month[:year]].join(' ')})"