- @page_title = 'Birdwatching diary'
-# TODO: implement month view

- @posts.each do |post|
  = render 'post', :post => post

%br

-# TODO: remove pagination, implement Back/Forward
= will_paginate unless @month