- @page_title = [t('date.month_names')[@month.to_i], link_to(@year, year_path(@year))].join(' ').html_safe

%h3= @page_title

= render @posts

%nav.month-navigation
  = link_to '<< Previous month', month_path(@prev_month) unless @prev_month.nil?
  = link_to 'Next month >>', month_path(@next_month) unless @next_month.nil?