- @page_title = @post.title

= render @post

%b Список видов:
= @post.species.uniq.map { |sp| species_link(sp) }.join(", \n").html_safe

%p
  - unless @post.lj_url_id.blank?
    = link_to 'This post on Livejournal', lj_post_url