-# frozen_string_literal: true
%figure.imageholder
  = link_to image_url(image) do
    = render "photos/site/photo", representation: image.representation.full_size, options: { alt: "" }
  %figcaption.imagetitle
    = link_to image_url(image) do
      = image.decorated.title
