- @page_title = t('.title')

%h1.over-header= page_header

= render @posts

- if @prev_month
  %nav.month-navigation.front_page_prev
    = link_to t('.previous_posts'), month_path(@prev_month)
    (#{[t('date.month_names')[@prev_month[:month].to_i], @prev_month[:year]] * ' '})
