// Addon for administrative elements that may appear on public pages (or sections shared with both public and admin)

ul.admin_menu
  margin-bottom: 0

ul.admin_box
  position: absolute
  top: 0
  right: 0
  padding: 5px 10px 5px 5px
  font-size: 80%
  background-color: #EBEBCF
  li
    margin-left: 20px
