.ac-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  color: #2c4359;
  cursor: default;

  li {
    margin: 0;
    cursor: pointer;

    a {
      display: block;
      text-decoration: none;
      padding: 3px 1em 3px .4em;
      line-height: 1.5;
      color: #2c4359;
      font-size: 1.2em;

      em {
        font-style: normal;
        font-weight: bold;
      }

      &.active {
        background: #ccd232;
        color: #212121;

        b { font-weight: bold; }
        i { font-weight: normal; }
      }
    }

    &.fallback_item a {
      font-size: 1.2em;
    }
  }
}
