// Admin map pages (app1 layout)
body.map-page {
  padding: 0;

  #header {
    margin: 0;
  }

  .main {
    padding: 0;
    max-width: 100%;
  }

  .mapContainer {
    position: absolute;
    left: 0;
    top: 0;
  }

  #googleMap {
    width: 100%;
    height: 100%;

    a,
    a:hover {
      background-color: transparent;
      padding: 0;
    }
  }

  // Hide search for small horizontal screen
  @media only all and (max-height: 580px) {
    #cse-wrapper {
      display: none;
    }
  }
}
