@import 'normalize', '_global', '_admin_addon'

.main
  padding-bottom: 70px

td.thumbnail a img
  border: 2px solid #007700
  height:  200px

footer
  margin-top: -55px

// Specific

.loci_index td
  vertical-align: middle

.column_layout
  @include inline-block
  vertical-align: top
  margin-right: 20px

.table_like
  border-spacing: 20px

.drag_locs
  width: 350px
  display: table-cell
  vertical-align: top
  background-color: #eee
  list-style: none
  padding: 5px
  li
    margin: 5px
    border: 1px solid orange
    padding: 5px

.other li
  background-color: #F6FC86

.public li
  background-color: #FFE45C
