@import "jquery-ui";

@import "app2/bootstrap-overrides";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "autocomplete";
@import "autocomplete_search";

@import "app2/print";
@import "app2/global";
@import "app2/admin_menu";
@import "app2/search";
@import "app2/menu";
@import "app2/translated";
@import "app2/footer";
@import "app2/lists";
@import "app2/headers";
@import "app2/species";


@import "app2/pages/links";
@import "app2/pages/lifelist";
