@import "variables"

@import "bootstrap-sprockets"
@import "bootstrap"

@import "open-iconic-bootstrap"
@import "jquery-ui"
@import "admin_menu"
@import "header"
@import "footer"
@import "images"

//#above-footer
//  @extend .container

.main
  @include make-md-column(11.4)
  @include make-md-column-offset(0.3)
  @include make-lg-column(9.5)
  @include make-lg-column-offset(1.25)

a
  text-decoration: underline

a.oi, a .oi,
a:hover.oi, a:hover .oi,
a.glyphicon, a .glyphicon,
a:hover.glyphicon, a:hover .glyphicon
  text-decoration: none

@include text-emphasis-variant('.icon-danger', #dd0000)

#site_menu, .subheader-menu, .comment_links
  @extend .list-inline


