@import "variables"
@import "open-iconic-bootstrap"

@import "bootstrap-sprockets"
@import "bootstrap"

@import "admin_menu"
@import "header"

.main
  @extend .container

a
  text-decoration: underline

a.oi, a .oi,
a:hover.oi, a:hover .oi
  text-decoration: none

#site_menu, .subheader-menu, .comment_links
  @extend .list-inline
