.truth-banner {
  background-color: black;
  color: white;
  div {
    line-height: normal;
  }
  .flag1 {
    background-color: #0057b7;
  }
  .flag2 {
    background-color: #ffd700;
  }
  .truth-wording {
    padding: 10px 20px;
    & > div {
      margin-bottom: 15px;
    }
  }
  .truth-heading {
    font-family: serif;
    font-size: 32px;
  }
  .truth-link {
    color: #bbbbbb;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 24px;
    border-bottom: 1px solid #bbbbbb;
    &:hover {
      color: white;
      border-bottom: 1px solid white;
    }
  }
}

.map-page {
  .truth-wording {
    display: none;
  }
}
