@import 'mixins', 'normalize', 'jquery-ui'

label
  font: 13px Verdana, Arial, sans-serif
  display: block
  color: #5555AA

form.simple_form
  margin-bottom: 20px
//  width: 660px

form.search
  display: inline-block
  margin-left: 0
  padding: 10px 10px 0 10px
  width: auto
  border: 1px solid #4444aa
  background-color: #dde4ff
  .buttons
    @include inline-block
    margin-top: 15px
    .button
      width: 95px
      height: 30px

div.input
  @include inline-block
  vertical-align: top
  margin-right: 10px
  margin-bottom: 10px
//  width: 339px

div.input.hidden
  display: none

div.input.flat label
  display: inline

div.boolean.flat label
  margin-left: 4px

// Radios
div.input span
  display: block
  label
    display: inline
    margin-left: 4px

div.input span.remove
  display: inline
  margin: 0 5px

input.string
  width: 220px

input.string[type=date]
  &, &.short
    width: auto

input.string.short
  width: 100px

input.string.api_key
  width: 320px

input.string.long
  width: 620px

input.string.larger
  font-size: 16px
  font-weight: bold

textarea
  width: 620px

div.buttons
  margin: 10px 0 0 0

input.button, button
  min-width: 130px
  height: 40px

div.input span.select_arrow
  background-image: url('../img/select_arrow.gif')
  background-repeat: no-repeat
  background-position: right center
  padding: 3px 8px 0 8px
  margin-left: -23px
  display: inline-block
  border: 1px solid #bbb
  vertical-align: bottom
  cursor: default

// Observations

form.new_card, form.edit_card
  .to-add-row
    display: inline-block
    font-weight: bold
  .quick-add
    display: block
    margin:
      top: 10px
      bottom: 10px
    padding-bottom: 5px
    border-bottom: 1px solid green
    label
      color: green
    input
      border-color: green
      width: 400px

div.obs-row
  //display: table-row
  div
    display: table-cell
    vertical-align: bottom
    padding-right: 10px
    padding-bottom: 10px
    a
      font-size: 13px

// Refactor?
div.obs-row
  margin-bottom: 3px
  @include inline-block
  #observation_place, #observation_notes
    font-size: 13px
    padding: 2px 0 4px 2px

.fixed-bottom
  position: fixed
  bottom: 0
  background-color: rgba(#ccffcc, 0.8)
  border-top: 4px solid green
  padding: 15px
  width: $main-width

// Images
table.with_search
  td
    padding: 0 10px
    border: 1px solid #888
  .observation_list, .observation_options
    width: 362px
    height: 268px
    vertical-align: top
    h5, .restore
      @include inline-block
    .restore
      float: right
      margin-top: 3px
  .observation_search
    text-align: right
  .observation_search, .flickr_search
    button
      vertical-align: -19px
      width: 100px
  ul.found-obs
    li
      background-color: #eeffee
    .remove
      display: none

table.flickr_search_table
  width: 1000px
  td.found_pictures
    height: 200px
    img
      border: 1px solid #aaaaaa
      padding: 10px
      margin:  10px
      cursor: pointer

ul.obs-list
  padding: 0
  margin: 0
  li
    list-style: none
    margin-left: 0
    margin-bottom: 5px
    padding: 2px 5px
    font-size: 11px
    border: 1px dotted #777
    width: 350px
    .remove
      float: right
    div
      // To work around line wrap because of 'remove' icon
      margin-bottom: 1px


// Observations index

.not_mine
  background-color: crimson

.voice
  background-color: DodgerBlue

// Species review

.reviewForms
  .edit_species
    background-color: #ccddff
    div.input
      padding-right: 24px

  input.mismatch
    border: 3px solid crimson

  .bringUp
    display: inline
    margin: 3px
    font-weight: bold
    font-size: 22px
    color: red
    cursor: pointer

  .buttons
    margin-left: 0
    button
      margin-left: 30px

.edit_tools
  border: 1px solid #ddd
  border-bottom: none
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  padding: 5px
  button
    font-weight: bold
    text-decoration: underline
    color: green
    background-color: inherit
    border: none
    border-right: 1px solid #ddd
    height: 24px
