@import 'mixins'

form.simple_form
  margin-bottom: 20px
//  width: 660px

.main
  .ui-widget .ui-menu-item
    font-size: 16px

  input, textarea, select
    font-size: 14px


  label
    font: 12px Verdana, Arial, sans-serif
    display: block
    color: #5555AA

form.search
  display: inline-block
  margin-left: 0
  padding: 10px 10px 0 10px
  width: auto
  border: 1px solid #4444aa
  background-color: #dde4ff
  .buttons
    @include inline-block
    margin-top: 15px
    .button
      width: 95px
      height: 30px

div.input
  @include inline-block
  vertical-align: top
  margin-right: 10px
  margin-bottom: 10px
//  width: 339px

div.input.hidden
  display: none

div.input.flat label
  display: inline

div.boolean.flat label
  margin-left: 4px

// Radios
div.input span
  display: block
  label
    display: inline
    margin-left: 4px

div.input span.remove
  display: inline
  margin: 0 5px

input.string
  width: 220px

input.string[type=date]
  &, &.short
    width: auto

input.string.short
  width: 100px

input.string.medium
  width: 320px

input.string.long
  width: 620px

input.string.larger
  font-size: 16px
  font-weight: bold

textarea
  width: 620px

div.buttons
  margin: 10px 0 0 0
  button, input, a, span
    margin-right: 20px

form
  input.button, button
    min-width: 130px
    height: 40px

.ebird_obs_search
  input.button, button
    min-width: 100px
    margin-right: 0

form.regenerate_btn
  display: inline-block
  margin: 5px 15px
  input
    padding: 10px

// Observations

form.new_card, form.edit_card, form.spec_edit_observation
  .to-add-row
    display: inline-block
    font-weight: bold
  .ebird-link-row
    display: inline-block
    margin-left: 20px
    border: 1px solid black
    background-color: lightgrey
    padding: 5px
    border-radius: 5px
    a, a:hover
      color: black
      background-color: lightgrey
  .quick-add
    display: block
    margin:
      top: 10px
      bottom: 10px
    padding-bottom: 5px
    border-bottom: 1px solid green
    label
      color: green
    input
      border-color: green
      width: 400px

  .obs-block
    margin-bottom: 32px

    .fast-species
      margin-bottom: 16px

    .fast-sp-link
      padding: 5px 10px
      border: 1px solid lightblue
      border-radius: 15px
      white-space: nowrap
      margin-right: 5px
      line-height: 35px
      text-decoration: underline
      font-size: smaller
      &:hover
        border-color: lightcoral
        color: lightcoral

div.bulk_select
  padding-left: 10px
  border-left: 1px solid black

div.obs-row
  //display: table-row
  div
    display: table-cell
    vertical-align: bottom
    padding-right: 10px
    padding-bottom: 10px
    a
      font-size: 12px
  .remove, .destroy-icon
    color: red

// Refactor?
div.obs-row
  margin-bottom: 3px
  @include inline-block
  .card_observations_notes,
  .card_observations_place,
  .observation_notes,
  .observation_place,
  .card_observations_private_notes
    input
      font-size: 13px
      padding: 1px 0 2px 2px

.fixed-bottom
  position: fixed
  bottom: 0
  background-color: rgba(#ccffcc, 0.8)
  border-top: 4px solid green
  padding: 15px
  width: $main-width

// Images
table.with_search
  td
    padding: 0 10px
    border: 1px solid #888
  .observation_list, .observation_options
    width: 362px
    height: 268px
    vertical-align: top
    h5, .restore
      @include inline-block
    .restore
      float: right
      margin-top: 3px
  .observation_search
    text-align: right
  .observation_search, .flickr_search
    button
      vertical-align: -19px
      width: 100px
  ul.found-obs
    li
      background-color: #eeffee
    .remove
      display: none

table.flickr_search_table
  width: 1000px
  td.found_pictures
    height: 200px
    img
      cursor: pointer

ul.obs-list
  padding: 0
  margin: 0
  line-height: normal
  li
    list-style: none
    margin-left: 0
    margin-bottom: 5px
    padding: 2px 5px
    font-size: 11px
    border: 1px dotted #777
    width: 350px
    .remove
      float: right
      color: red
    div
      // To work around line wrap because of 'remove' icon
      margin-bottom: 1px


// Observations index

.voice
  background-color: DodgerBlue

// Wiki tools

.edit_tools
  border: 1px solid #ddd
  border-bottom: none
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  padding: 5px
  button
    font-weight: bold
    text-decoration: underline
    color: green
    background-color: inherit
    border: none
    border-right: 1px solid #ddd
    height: 24px

.insert_species_dialog
  border: 1px solid #aaaaaa
  border-radius: 8px
  background-color: #eeeeee
  box-shadow: 0 0 5px 2px rgb(200, 200, 200)
  position: fixed
  padding: 5px
  left: 50%
  top: 50%
  margin-left: -153px
  width: 306px
  input
    width: 300px
  .ui-menu .ui-menu-item a
    font-size: 0.8em

// inline datepicker

.inline_date
  font-size: 80%
  float: left
  margin: 0 10px 10px 0

.ui-widget-content .ui-datepicker-today .ui-state-highlight
  background: #93c3cd url(/assets/ui-bg_diagonals-small_50_93c3cd_40x40.png) 50% 50% repeat
  border: 2px solid #222222


// Card form

.card-fields-wrapper
  clear: both
  border-bottom: 2px solid black
  margin-bottom: 20px
  input
    width: 200px

.fast-locus-container
  display: inline-block
  vertical-align: -20px
  span
    margin-right: 10px

// Flickr info edit
.flickr_info
  input, textarea
    width: 400px

// File upload
.upload_form
  border: 1px solid black
  margin-bottom: 20px
  td
    padding: 10px
    width: 30%

.ebird_import_form
  display: inline-block

// eBird import

.ebird-locus-select-td input
  width: 220px

// Drag and drop file upload
.dropsection
  margin: 20px 5px

.droparea
  display: none
  background-color: white
  outline: 2px dashed #777777
  height: 200px
  margin: 10px 0
  padding: 10px
  text-align: center

  span.drop__text
    display: block
    margin-top: 90px
    label
      display: inline-block
      cursor: pointer
    &, & label
      font-size: 20px
      color: #555555

.drop__uploading, .drop__success, .drop__error, .drop__analyzing
  display: none

form.has-advanced-upload

  div.input.image_stored_image
    display: none

  .droparea
    display: block

form.is-dragover
  .droparea
    background-color: #bbccdd


form.is-uploading
  .droparea
    visibility: hidden

  .drop__uploading
    display: block

form.upload-error
  .drop_error
    display: block

.drop__preview
  img
    max-width: 600px
    max-height: 400px
