body
  background-color: lightgray

.main
  width: 100%
  min-height: 100%
  text-align: center

.form_container
  margin: 0 auto
  text-align: left
  width: 202px
  border: 2px solid gray
  padding: 25px
  border-radius: 10px
  margin-top: 20px
  background-color: white

input
  display: inline-block
  padding: 10px
  font-size: 20px
  margin: 1px 1px 7px 0
  width: 176px
  &.submit
    width: 200px
    margin-left: -1px
