body.map-page
  padding: 0

  #header
    margin: 0

  .main
    padding: 0
    max-width: 100%

  div.footer
    margin:
      left: 0
      right: 0
      top: 0
    position: absolute
    bottom: 0
    left: 0
    right: 0
    font-size: 12px
    padding: 7px
    p
      font-size: 12px
      margin:
        top: 5px
        bottom: 5px

  @media only all and (max-height: 580px)
    div.footer
      display: none

  .winter-banner
    display: none

.mapContainer
  position: absolute
  left: 0
  top: 0

#googleMap
  width: 100%
  height: 100%
  // margin-right: 15px
  a, a:hover
    background-color: transparent
    padding: 0

$base-cluster-size: 35px

.marker-cluster-small
  background-color: rgb(110, 204, 57)
  //background-color: rgba(110, 204, 57, 0.8)
  width: $base-cluster-size - 10
  height: $base-cluster-size - 10
  span
    line-height: $base-cluster-size - 10
  //&.active-cluster:before
  //  width: $base-cluster-size - 5
  //  height: $base-cluster-size - 5


.marker-cluster-medium
  background-color: rgb(240, 194, 12)
  //background-color: rgba(240, 194, 12, 0.8)
  width: $base-cluster-size - 5
  height: $base-cluster-size - 5
  span
    line-height: $base-cluster-size - 5
  //&.active-cluster:before
  //  width: $base-cluster-size
  //  height: $base-cluster-size

.marker-cluster-large
  background-color: rgb(241, 128, 23)
  //background-color: rgba(241, 128, 23, 0.8)
  width: $base-cluster-size
  height: $base-cluster-size
  span
    line-height: $base-cluster-size
  //&.active-cluster:before
  //  width: $base-cluster-size + 5
  //  height: $base-cluster-size + 5

.marker-cluster
  cursor: pointer
  background-clip: padding-box
  border-radius: 20px
  overflow: hidden
  text-align: center
  box-shadow: 5px 5px 10px 0px rgb(0, 0, 0)
  div, span, a
    cursor: pointer
    font-size: 14px
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
    font-weight: bold
    color: #fcfcfc
    text-shadow: #333333 1px 1px 0px

.marker-cluster.active-cluster
  color: palegoldenrod
  border: 2px solid palegoldenrod
  box-shadow: 5px 5px 14px 0px rgb(0, 0, 0)
//  box-shadow: none
//  //border-radius: 0
//  &:before
//    background-color: crimson
//    content: ""
//    z-index: -1
//    position: absolute
//    left: -2px
//    top: -2px
//    box-shadow: 5px 5px 10px 0px black
//    -webkit-transform: rotate(45deg)
//    -moz-transform: rotate(45deg)
//    -ms-transform: rotate(45deg)
//    -o-transform: rotate(45deg)
//    tranform: rotate(45deg)

div.thumbs_strip
  width: 100%
  padding: 5px 20px 15px 15px
  .image_thumb
    max-width: none

  .video-thumb a.thumb-img-link
    &:before
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      -webkit-transform: translate(-50%, -50%)
      content: "\f144"
      font-family: 'Font Awesome 5 Free'
      font-size: 100px
      color: #fff
      opacity: .8
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5)
      cursor: pointer



.gallery_window
  position: absolute
  bottom: 100px
  left: 0
  display: none
  width: 100%
  background-color: #fff
  // should be more than ul.translated
  z-index: 1001
  border:
    top: 1px dashed #333333

.gallery_container
  position: relative
  height: 235px
  white-space: nowrap
  overflow-x: auto
  overflow-y: hidden

.gallery_container.loading
  background-size: 32px auto

.wnd_close
  margin: 5px 15px
  padding:
    top: 0
    bottom: 5px
    left: 0
  border-bottom: 1px solid #ddd
  span.close
    cursor: pointer
  span.fa-times
    font-size: 28px
    color: red
    font-weight: bold
    vertical-align: -15%

.map-panel

  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  box-shadow: 5px 5px 10px 0px rgb(0, 0, 0)
  position: absolute
  left: 185px
  z-index: 999

  background-color: #ffffcd
  padding: 5px 5px
  margin: 0
  .pan
    font-weight: bold
    margin: 5px

.map-page ul.translated
  border-top: 0px none
  position: absolute
  left: 490px
  z-index: 999
  margin-top: 5px

@media only all and (max-width: 580px)

  .map-panel
    //padding: 5px 10px
    border-bottom: 1px solid #aaaabf
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    box-shadow: none
    position: static

  .map-page ul.translated
    left: 190px
    border: none
    padding: 0
    margin-top: 5px
    a, a:hover
      padding: 3px 5px
      font-size: 14px

// Hide search for small horizontal screen
@media only all and (max-height: 580px)
  #cse-wrapper
    display: none
