@import 'map', 'forms'

div.footer
  display: none

form.search
  display: block
  padding: 5px 0 0 10px
  border:
    left: none
    right: none
    top: none
    bottom: 1px solid #aaa
  margin: 0

ul.obs-list
  overflow-y: scroll
  width: 380px
  border-right: 1px solid #555
  margin: 0
  padding: 1px
  li
    display: inline-block
    .remove
      display: none

ul.horiz-obs-list.obs-list
  overflow: auto
  width: auto
  margin-bottom: 10px
  border: none

li.selected_obs
  background-color: #AAAAEE

form#new_spot
  font-size: 12px !important
  margin: 0
  #save_button
    width: 70px
    height: 30px
  div.input span
    display: inline
    margin-right: 5px
  a.destroy
    font-weight: bold
    padding: 5px 10px
    margin-left: 10px
    color: yellow
    background-color: red
