@import 'normalize', 'global'

body
  padding: 0

  #header
    margin: 0

  .main
    padding: 0
    max-width: 100%

  div.footer
    margin:
      left: 0
      right: 0
      top: 0
    position: absolute
    bottom: 0
    left: 0
    right: 0
    font-size: 12px
    padding: 7px
    p
      font-size: 12px
      margin:
        top: 5px
        bottom: 5px

@media only all and (max-height: 580px)
  div.footer
    display: none
