@import 'normalize', 'global'

body
  padding: 0

  #header
    margin: 0

  .main
    padding: 0
    max-width: 100%

  div.footer
    margin:
      left: 0
      right: 0

@media only all and (max-height: 580px)
  div.footer
    display: none
