@import 'normalize', 'global', 'images'

.main
  padding-top: 10px

// Post

.post-box
  margin-bottom: 40px
  border-bottom: 1px solid #dddddd
  .thumbnails
    margin-top: 10px

.post-box.shout-box
  border-top: none
  background-image: url(/img/shout-bg.png)
  padding: 10px
  border-radius: 10px
  font-family: "Helvetica Neue", Helvetica, Verdana, Tahoma, sans-serif

  .comment_links
    text-align: right
    margin-bottom: 0
    margin-top: 5px
    margin-right: 2px
    a
      padding: 2px
      font-weight: bold
      font-size: 15px
      color: #666666
      border: none
      margin-top: 3px
      vertical-align: middle
    a, a:hover, a:focus
      background-color: transparent

.comment_text_for_ie
  // IE7 hack
  display: none
  *display: inline


.post
  padding: 0 5px
  margin: 0 -6px

  .header-with-subheader time
    color: #666666
    font-style: italic
    font-family: Verdana, Tahoma, sans-serif
    font-size: 13px

  img
    border: 1px solid #aaa

  // Necessary to remove a:hover background-color in img inside a
  a img
    vertical-align: top
    margin-bottom: 4px
    border: 2px solid darken($link-color, 10%)

  ul, ol
    padding-left: 30px
    li
      line-height: 1.56

.post.diff_lang
  border: 1px dashed #E67E22

.diff_lang_notice, .diff_lang_expand_notice
  border-bottom: 1px dashed #E67E22
  background-color: #FAD7A0
  margin: 0 -5px
  p
    padding: 10px
    margin: 0
    font-size: 14px
    color: #E67E22

.diff_lang_expand_notice
  border-top: 1px dashed #E67E22
  .pseudolink, .pseudolink:hover
    color: #E67E22
    border-color: #E67E22

.other_lang_expand
  display: none

.post.shout
  background-color: white
  padding: 10px 10px 2px 10px
  border-radius: 5px
  h2
    margin: 0
    font-weight: normal
    font-size: 17px
    i
      font-size: 14px
      @include inline-block
      padding-left: 5px
    a, a:hover, a:focus
      color: #666666
      text-decoration: none
      border-bottom-width: 1px
    a:hover, a:focus
      color: darken(#666666, 8%)
      background-color: white

  p
    font-size: 15px
    margin-top: 0
    margin-bottom: 5px


.comment_links
  margin: 0
  margin-bottom: 10px
  text-align: right
  li
    margin: 10px
    margin-right: 2px
  @include horiz-list
  a
    @include deep-bordered-link($link-color)
    border-bottom: 1px dotted $link-color

nav.month-navigation
  margin-top: 0
  a
    margin-right: 15px

nav.front_page_prev
  margin-top: -15px
  font-size: 20px
  a
    font-size: 32px
    @include arial-font

// Comments

.subcomments
  margin-left: 50px
  margin-bottom: 10px
  margin-top: -10px
  .comment_box
    //border-top: 1px solid #407FBF
    margin-bottom: 0
  .subcomments
    margin-top: 0

// It is possible to stop padding on certain level
//.subcomments .subcomments .subcomments .subcomments
//  margin-left: 0

.comment_box
  margin-bottom: 10px
  padding: 10px
  background-color: #eeeeee
  border-left: 4px solid #407FBF
  border-bottom: 1px solid #407FBF
  h6
    margin-top: 0
    margin-right: 5px
    font-size: 16px
    @include inline-block
  time
    font-family: Verdana, Tahoma, sans-serif
    font-size: 11px
    font-style: italic
    @include inline-block
    margin-bottom: 4px
    vertical-align: 1px
  .comment_body_text, ul.reply
    font-family: Verdana, Tahoma, sans-serif
    font-size: 13px
    p
      line-height: 1.4
  ul.reply
    @include horiz-list
    margin-bottom: 0
    font-weight: bold
  .comment_body_text
    margin-left: 30px

.comment_box.hidden-comment
  background-color: pink

.comment_screened
  font-weight: bold
  background-color: #ffe45c
  color: #333366
  border-left: 4px solid orange
  padding: 10px 15px

// Form comment

form.comment

  label
    vertical-align: top
    display: block
    //width: 48px
    font: bold 15px Tahoma, Verdana, Arial, sans-serif
    color: #605070
    //padding: 5px 0

  .comment_nmaee, .commenter_email
    float: left
    width: 295px

  .comment_nmaee
    margin-right: 10px
  .commenter_email
    margin-left: 10px
    // IE7 for some reason shows it misplaced
    *margin-left: 5px
    & label, & span.hint
      *margin-left: 5px


  div.input
    display: block
    margin-bottom: 10px

  div.input.comment_name
    display: none

  input.string
    width: 285px

  textarea
    width: 600px

  div.buttons
    //margin-top: 10px
    input.button
      width: 130px
      height: 40px

  input.string, textarea
    border: 2px solid #888888
    padding: 5px

  .input
    .hint
      color: #777777
      font-size: 15px
      font-style: italic
      font-weight: normal
      font-family: Arial, sans-serif
  .input.comment_body .hint
    width: 612px
    text-align: right
    display: block
  .input.commenter_email .hint
    font-size: 12px
    display: block


// Image

$image-info-pane-width: 300px

.image_over_container
  display: table
  width: 100%
  margin-top: 20px

.image_canvas_container
  display: table-cell
  padding: 0 20px 0 0
  text-align: center
  vertical-align: top
  @media (max-width: 900px)
    display: block

.image_info_pane
  display: table-cell
  vertical-align: top
  width: $image-info-pane-width
  margin-left: 10px
  padding: 2px 10px 10px 10px
  h1
    font-size: 26px
  nav.translated
    //margin-top: -12px
    margin-top: 0
    margin-right: -26px
  @media (max-width: 900px)
    width: 100%
    display: block
    padding: 20px 0
    margin: 0
    nav.translated
      margin-top: 0
      margin-right: -16px

.image_canvas
  @include auto-width
  @include inline-block
  border: 1px solid #cccccc
  img
    vertical-align: top
    display: block
    @include auto-width
    max-height: 100vh
    @media (max-width: 900px)
      max-height: 580px

table.image_nav
  max-width: 100%
  margin-top: 30px
  th, td
    border: 1px solid #ccc
    text-align: center
    padding: 5px 10px
  th
    font-weight: normal
    font-size: 12px
    color: #444
  .img_prev_next
    font-weight: bold
    font-size: 2em
  span.img_prev_next
    color: #555
  a.img_prev_next
    text-decoration: none
    border-bottom: none

// Lifelists

.sci_name
  color: #808080

#lifelist, .lifers_list
  //font-family: Verdana, Arial, sans-serif
  //font-size: 15px
  time, .sci_name
    white-space: nowrap
  .sci_name
    font-size: 15px
  //.sp_link
    //font-size: 15px

.lifelist-subtitle
  margin-top: 0
  font-weight: normal

h5.first_seen
  @include arial-font
  color: #666
  font-style: italic
  font-size: 14px
  margin-bottom: 3px

.lifers_list
  margin-top: 0

.lifer_row
  margin-bottom: 5px
  span
    font-size: 12px

.neat_table.lifelist_table
  max-width: 1200px
  display: block
  border-top: 1px solid #eee
  td
    padding-top: 10px
    padding-bottom: 10px

  .sci_name
    white-space: nowrap


.lifer_en, .lifer_locus
  display: block
  font-size: 14px
  margin-top: 3px

.lifer_locus
  font-style: italic

@media only all and (max-width: 500px)
  .neat_table.lifelist_table
    tbody, tr, td.place_td
      display: block
    td
      padding-bottom: 0
    td.place_td
      font-size: small
      padding-top: 0
      text-align: right
      padding-bottom: 20px
  #lifelist.advanced
    width: auto
    thead, tbody, tr, th, .sort_by_label, td.comb_date, td.single_date, td.count_cell
      display: block
    .empty_cell
      display: none
    .sort_by_label
      padding-bottom: 10px
    th
      padding: 5px 15px !important
      text-align: left !important
    th.count-column-header
      width: auto !important
      padding-bottom: 10px !important
    tr
      padding-top: 15px
    thead tr
      padding-top: 0
    td
      padding-top: 0 !important
      padding-bottom: 0 !important
      h5.first_seen
        margin-bottom: 5px
        margin-top: 20px
    td.num_cell
      vertical-align: top
    td.comb_date, td.single_date
      text-align: right !important
    td.count_cell
      margin-bottom: 15px
    td.comb_date, td.single_date, td.count_cell
      font-size: 15px
      height: 1.3em
      span.designation
        display: inline
        color: #777777
        font-style: italic
      .dashes
        display: none


#lifelist.advanced
  width: 100%
  td
    //height: 2.2em
    padding-top: 12px
    padding-bottom: 12px
  .sort_by_label
    font-weight: normal
  span.lifer-locus-item
    font-size: 18px
  span.lifer-locus-item:hover
    cursor: pointer
  a.cardlink
    font-size: 16px
  span.fa-sort
    font-size: 14px
  th
    padding-top: 12px
    padding-bottom: 12px
    font-size: 15px
  th.count-column-header
    width: 5em
    text-align: right
  .designation
    display: none
  .count_cell b
    font-weight: normal
    font-size: 17px
  td.num_cell, td.count_cell
    text-align: right
  td.comb_date, td.single_date
    text-align: center

// Checklist table

table.neat_table.checklist_table
  max-width: 1200px
  display: block
  border-top: none
  tr
    border-bottom: 1px solid #eee

  td.names
    .sci_name, b
      white-space: nowrap
      display: block
    .sci_name
      font-size: 14px
    .sp_link
      @include arial-font
      font-weight: bold
      font-size: 16px
  td.status_text
    width: 66%
    font-style: italic
    font-size: 87%
    color: #444

@media only all and (max-width: 500px)
  table.neat_table.checklist_table
    td
      padding: 5px 10px 5px 0
      display: inline-block
    .status_marker
      padding-left: 15px
    .status_text
      display: block
      padding-left: 25px

.status-old, .status-unsure
  font-style: italic
  @include inline-block
  color: white
  background-color: #ccbbbb
  padding: 5px
  font-weight: bold
  font-size: 14px
  text-align: center
  width: 15px
  line-height: 15px
  border-radius: 15px
  cursor: default

// Species page

.taxonomy
  margin-top: 30px
  margin-bottom: 5px

.species_name_h1
  margin-top: 5px
  margin-bottom: 10px

.latin
  font-weight: normal
  font-family: serif
  font-style: italic
  //font-size: 1.4em
  color: #343
  margin-top: 10px
  display: inline

.authority
  font-family: Verdana, Tahoma, Arial, sans-serif
  font-variant: small-caps
  font-size: 14px

.sp_translations
  @include inline-block
  margin-right: 20px
  dt
    white-space: nowrap
    display: inline
    color: #33b
    font-style: italic

  dd
    display: inline
    margin-left: 0

.sp_synonyms
  @include inline-block
  border: 1px dotted lightgrey
  background-color: lightgoldenrodyellow
  padding: 10px 10px 0 10px
  border-radius: 2px

.two_thirds
  margin-top: 20px

@media only all and (min-width: 630px)

  .one_third
    width: 32%
    float: left
    margin-right: 20px

  .two_thirds
    width: 64%
    float: right
    margin-bottom: 30px
    img
      max-width: 100%
      max-height: 580px
    .image_canvas
      float: right

.obs_maps
  img
    max-width: 100%
    height: auto
    border: 1px solid #aaaaaa
    @media only all and (max-width: 630px)
      width: 100%

table.monthly
  td
    @include arial-font
    text-align: center
    border: 1px solid #333
    width: 34px
    height: 34px

  td.seen_this_month
    background-color: #cfc

// Feed icon
li.feed_li:before
  content: ' '


//a.feed
  //padding-left: 32px
  //float: right
  //margin:
  //  left: 7px
  //  top: 5px

// Social buttons

.likely
  margin-bottom: 10px

// Small screen

@media only all and (max-width: 580px)
  form.comment
    .input.commenter_email, .input.comment_nmaee
      width: 100%
      margin-left: 0
    textarea, input.string,
    .input.comment_body .hint,
    .input.commenter_email input.string,
    .input.comment_nmaee input.string
      width: 100%


.winter-banner
  border: 1px solid #ccc
  @include inline-block
  padding-right: 20px
  margin:
    top: 20px
  img
    vertical-align: bottom
  div
    @include inline-block
    margin-left: -30px
    vertical-align: 28px
    a
      font-family: Verdana
      color: #6D7B9D
      font-weight: bold
      font-size: 24px
    a:hover
      color: #5D6BAD
      background-color: transparent
      text-decoration: underline
    span
      font-weight: bold
      color: #444

  @media only all and (max-width: 900px)
    background-color: #ddddee
    img
      display: none
    div
      margin: 10px

// Nice statistics

table.nice_stats
  width: 100%
  margin:
    top: 30px
    bottom: 30px
  td
    width: 25%
    padding: 3px 5px 15px 15px
    font-family: Verdana, Tahoma, sans-serif
    font-weight: bold
    border:
      top: 1px solid #aaaaaa
      bottom: 1px solid #aaaaaa
    a
      text-decoration: none
      border-bottom: 1px solid
  th
    padding-bottom: 1px
    border:
      bottom: 4px double #aaaaaa
    h2
      color: #383838
      margin-bottom: 0
  td.year, td.count_sp, td.count_new, td.count_new_big
    font-size: 30px
    font-family: "Verdana", sans-serif
  td.day
    font-family: "Verdana", sans-serif
    padding-right: 15px
    color: #666666
    font-size: 22px
  td.day a
    color: #666666
  td.year
    color: #666666
  td.place
    font-style: italic
    font-weight: normal
    font-size: 12px
    color: #555
  .count_sp, .count_new_big
    text-align: right
  .count_new
    text-align: center
    font-size: 18px
    font-weight: normal
    small
      font-family: Arial
  .count_new small
    font-size: 18px
  .count_sp, .count_sp_label, .count_sp a
    color: #3661b7
  .count_new, .count_new_label, .count_new a, .count_new_big
    color: #e04747
  tr.total
    border:
      top: 4px double #aaaaaa
      bottom: 4px double #aaaaaa
    .count_sp, .count_sp_label
      color: #093ea8
    td.year
      color: #474747
  td.countries
    font-size: 14px
    vertical-align: middle
    font-weight: normal
    ul
      list-style: none
      margin: 0
      span
        font-weight: bold
      li.ukraine, li.ukraine a
        color: #66aa66
      li.usa, li.usa a
        color: #aa6666
      li.united_kingdom, li.united_kingdom a
        color: #6666aa
      li.canada, li.canada a
        color: #cc3399
      li.netherlands, li.netherlands a
        color: #ba9d33

table.nice_stats.records
  td
    width: auto
    vertical-align: baseline

// Tooltip

.ui-tooltip, .arrow:after
  background: rgba(0, 0, 0, 0.8)
  //border: 2px solid white
  border: none

.ui-tooltip
  padding: 5px 10px
  color: white
  border-radius: 4px
  font: normal 13px "Helvetica Neue", Arial, sans-serif
  box-shadow: 0 4px 4px -2px #999999
  //box-shadow: none
  max-width: 200px
  &.ui-widget.ui-widget-content
    border: none

//.arrow
//  width: 70px
//  height: 16px
//  overflow: hidden
//  position: absolute
//  left: 50%
//  margin-left: -35px
//  bottom: -16px
//
//.arrow.top
//  top: -16px
//  bottom: auto
//
//.arrow.left
//  left: 20%
//
//.arrow:after
//  content: ""
//  position: absolute
//  left: 20px
//  top: -20px
//  width: 25px
//  height: 25px
//  box-shadow: 6px 5px 9px -9px black
//  -webkit-transform: rotate(45deg)
//  -moz-transform: rotate(45deg)
//  -ms-transform: rotate(45deg)
//  -o-transform: rotate(45deg)
//  tranform: rotate(45deg)
//
//.arrow.top:after
//  bottom: -20px
//  top: auto

.jumbo-bg
  //margin: -60px -1em 0 -1em
  margin: 0 -1em
  padding: 20px 0 0 0
  background-color: #cce8cf
  opacity: 0.8
  background-repeat: no-repeat
  background-position: center center
  background-size: cover

.jumbo-side
  background-color: rgba(255, 255, 255, 0.7)
  //height: 100%
  padding: 12px 10px 42px 10px
  //width: 100%
  ul
    max-width: $main-width
    margin: auto
    padding: 0
    li
      display: block
      float: left
      @include inline-block
      margin: 0

.jumbo
  opacity: 1
  margin: auto
  text-align: center
  h1
    text-align: left
    max-width: $main-width
    padding-bottom: 1em
    padding-top: 1em
    opacity: 1 !important
    color: white
    text-shadow: #000 0px 0px 10px
    font-size: 64px
    margin: auto
  nav.translated
    margin-right: 0
    margin-top: 0
    a
      color: white
      background-color: #f77700
      border: 1px solid #dddddd
      opacity: 1 !important

@media only all and (max-width: 960px)
  .jumbo
    h1
      font-size: 56px
      padding-left: 30px
      padding-right: 30px

@media only all and (max-width: 900px)
  .jumbo
    h1
      font-size: 42px

@media only all and (max-width: 450px)
  .jumbo
    h1
      padding-left: 15px
      padding-right: 15px
      padding-top: 25px
      padding-bottom: 0

.unsubscribe_btn
  padding: 12px 20px
