-# frozen_string_literal: true
%p
  %a.tag-link{name: "my"}
    %small.tag.tag-crow.fas.fa-crow{title: "My species"}
  %small Номінально відповідний вид в моїй систематиці.

%p
  %a.tag-link{name: "seen"}
    %small.tag.tag-eye.fas.fa-eye{title: "Actually seen"}
  %small
    Вид у моїй систематиці, який я зустрів першим (якщо його було злито з іншим).
    Приклад: я побачив чорноголову плиску першою, однак за версією eBird/Clements
    це моє перше спостереження жовтої плиски, оскільки ці два види було об'єднано.

