%p
  %a.tag-link{name: "my"}
    %small.tag.tag-crow.fas.fa-crow{title: "My species"}
  %small Nominally equivalent species in my site taxonomy.

%p
  %a.tag-link{name: "seen"}
    %small.tag.tag-eye.fas.fa-eye{title: "Actually seen"}
  %small
    The species according to my site taxonomy which I saw first
    (if it is lumped into another one according to eBird/Clements).
    Example: I saw a Black-headed Wagtail first, but in eBird/Clements it is lumped into Western Yellow Wagtail,
    making this my first sighting of the latter.
