-# frozen_string_literal: true
%p
  %a.tag-link{name: "my"}
    %small.tag.tag-crow.fas.fa-crow{title: "My species"}
  %small Номинально соответствущий вид в моей систематике.

%p
  %a.tag-link{name: "seen"}
    %small.tag.tag-eye.fas.fa-eye{title: "Actually seen"}
  %small
    Вид в моей систематике, который я увидел первым (если он был слит с другим).
    Пример: я увидел черноголовую трясогузку первой, однако по версии eBird/Clements
    это мое первое наблюдение желтой трясогузки, так как эти виды объединены.

