-# frozen_string_literal: true
%p
  Це мій список птахів відповідно до систематики eBird/Clements v2021 (серпень 2021). Система,
  яку я використовую на сайті, базується на цьому списку. Єдина відмінність полягає в тому, що я
  традиційно визнаю чорноголову плиску <i class="sci_name">Motacilla feldegg</i> видом,
  окремим від жовтої плиски <i class="sci_name">Motacilla flava</i>.
