%p
  This is my life list according to eBird/Clements taxonomy (v2019 - August 2019). My own taxonomy is
  based on this authority. The only difference is that I recognize Black-headed Wagtail <i class="sci_name">Motacilla feldegg</i>
  as a species separate from Western Yellow Wagtail <i class="sci_name">M. flava</i> as it was traditionally
  done by ex-USSR ornithologists.
