-# frozen_string_literal: true
%ul.horiz-list.filter-list
  %strong= loci_filter_label
  %li= filtering_link_to_all(:locus)
  - @locations.each do |loc|
    %li= link_to_or_span(loc.name, significant_params.merge(locus: loc.slug))
