-# frozen_string_literal: true
- if @years.present?

  - url_builder = lambda do |year|
    - if controller_name == 'blog'
      - year_path(year: year)
    - else
      - amended_params(year: year)

  %ul.horiz-list.filter-list
    %strong= t('.years')
    - @years.each do |year|
      %li
        - if year
          = link_to_or_span(year, url_builder.call(year))
        - else
          = filtering_link_to_all(:year)
