:textile
  #{t(".intro", url: checklist_path(country: 'ukraine'))}

- if @max_width
  = render 'countries/gallery/justified_ukraine'
- else
  %noscript
    = render 'countries/gallery/justified_ukraine'
