-# frozen_string_literal: true
- @meta_description = t(".meta_description")
- @meta_thumbnail = 'https://bwua-static.s3.eu-central-1.amazonaws.com/cuckoo-thumb.jpg'

- intro_text = t(".intro", url: checklist_path(country: 'ukraine'))

= RedCloth.new(intro_text).to_html.html_safe


= render 'social/buttons'

- species_rarity = @thumbs.group_by {|s| s.status.match(/\?|\-/).nil? }

- [true, false].each do |common|
  - species_rarity[common].if_present do |sps|
    - unless common
      %h2= t(".not_common")

    %div.thumbnails
      = render_justified sps.map(&:to_thumbnail)
