- @meta_description = t(".meta_description")
- @meta_thumbnail = 'https://farm4.staticflickr.com/3492/3895472701_13ab6ba2e7.jpg'

- intro_text = t(".intro", url: checklist_path(country: 'ukraine'))

= RedCloth.new(intro_text).to_html.html_safe


= render 'social/buttons'

- species_rarity = @thumbs.group_by {|s| s.status.match(/\?|\-/).nil? }

- [true, false].each do |common|
  - if sps = species_rarity[common]
    - unless common
      %h2= t(".not_common")

    %div.thumbnails
      = render_justified sps.map(&:to_thumbnail)
