- @meta_description = t(".meta_description")
- @meta_thumbnail = 'http://farm4.staticflickr.com/3492/3895472701_13ab6ba2e7.jpg'

:textile
  #{t(".intro", url: checklist_path(country: 'ukraine'))}

= render 'social/buttons'

- species_rarity = @species.group_by {|s| s.status.match(/\?|\-/).nil? }

- [true, false].each do |common|
  - if sps = species_rarity[common]
    - unless common
      %h2= t(".not_common")

    %div.thumbnails
      = render_justified sps.map(&:to_thumbnail)
