- @meta_description = t(".meta_description")
- @meta_thumbnail = 'https://bwua-static.s3.eu-central-1.amazonaws.com/gannet-thumb.jpg'

= render 'social/buttons'

%div.thumbnails
  = render_justified @thumbs.map(&:to_thumbnail)
