-# frozen_string_literal: true
- stylesheet 'forms'
- javascript 'flickr_search'

- @page_title = "Flickr search"

%h1= page_header

%form{"data-remote" => true, "action" => "/flickr/photos/search", "method" => :post}
  %div.input.string
    %label.string Search string:
    %input.string#flickr_text{name: 'text', type: 'text'}
  %div.input.boolean
    %input{name: 'user_id', type: 'checkbox', value: flickr_admin.user_id}
      %label.string My
  %div.input.boolean
    %input{name: 'contacts', type: 'checkbox', value: "all"}
      %label.string Contacts
  %div.input.boolean
    %input{name: 'license', type: 'checkbox', value: "1,2,3,4,5,6"}
      %label.string Creative Commons
  %div
    %button{type: 'submit'} Search

%p
  %img#spinner{src: "/img/loading_small.gif"}

%div.flickr_result
