-# frozen_string_literal: true
- new_locales = Set.new([:uk, :en, :ru]).delete(I18n.locale).to_a
- url = defined?(url) ? url : {}
- new_params = url.kind_of?(Hash) ? url : significant_params

%ul.translated
  - new_locales.each do |new_locale|
    %li
      - link_hash = new_params.merge({locale: new_locale == I18n.default_locale ? nil : new_locale})
      = link_to link_hash, lang: new_locale, hreflang: new_locale, rel: :alternate, class: "translated-link translated-link-#{new_locale}" do
        - unless new_locale == :ru
          %i.fas.fa-globe
        = t("translated.#{new_locale}")
