.lifelist-chart-lifers
  %div
    %h5= t("lifelist_chart.lifers_header")
    %div.lifers-count
      = lifers_cell.lifers.size
  %ol.lifers-list
    - lifers_cell.lifers.each do |lifer|
      %li
        = species_link_long(lifer.species)
        -# %div= tag.time(l(lifer.observ_date, format: :long), datetime: lifer.observ_date.iso8601)
