- cache([:year_summary, year: year_summary.year, key: Quails::CacheKey.lifelist, locale: I18n.locale]) do
  %div.lifelist-chart-container
    .lifelist-chart-year-bars
      %table.lifelist-chart-table
        %thead
          %tr
            %th.lifelist-chart-th{colspan: 3}
              = t("lifelist_chart.number_of_species")
        %tbody
          = render partial: "cells/year_summary/table_row", locals: {data: year_summary.all.first, row_class: "current_year"}
          - year_summary.all[1..-1].each do |data|
            = render partial: "cells/year_summary/table_row", locals: {data: data, row_class: nil}
    = render partial: "cells/lifers_cell", object: year_summary
