- @page_title = 'Images and posts of the day'

%h1= [link_to('Research', research_path), @page_title].join(' : ').html_safe

%h2= "%s %s" % [t("date.month_names")[@month.to_i], @day]

- @images.each do |img|
  %p= image_tag(jpg_url(img, false))