- @page_title = 'Research tasks'

%h2= @page_title

%ul
  %li= link_to('Find species seen after more than a year', {:action => :more_than_year})
  %li= link_to('Advanced lifelist', {:action => :lifelist})