.font-sans.bg-white.h-screen.flex.flex-col.w-full
  .h-screen.bg-gradient-to-r.from-green-400.to-blue-500
    .px-4.py-48
      .relative.w-full.text-center
        %h1.animate-pulse.font-bold.text-gray-200.text-4xl.mb-6
          Your TailwindCSS setup is working if this pulses...
