.font-sans.bg-white.flex.flex-col
  .bg-gradient-to-r.from-green-400.to-blue-500
    .px-4.pt-4
      .relative.text-center
        %h1.animate-pulse.font-bold.text-gray-200.text-4xl.mb-6
          Your TailwindCSS setup is working if this pulses...
