- use_gmap
- javascript 'map.edit'
- @minimal_layout = true
- stylesheet 'map', 'forms'

- @page_title = 'Edit Map'

-# %h1= @page_title

= render 'observations/search'

%ul.obs-list
  = render :partial => 'observations/obs_item', :collection => @observations

#googleMap
