-# frozen_string_literal: true
-# @body_class = 'wider'

- stylesheet 'public'

- @page_title = 'Unflickred photos'

= render 'collection_shortcuts'

%h1= page_header

%div.thumbnails
  = render_justified @images.map {|im| Thumbnail.new(flickr_photo_path(im), im.decorated.title, im)}

%div{data: {turbolinks: "true"}}
  = paginate @images
