- i = 0
- @lifelist.group_by_taxonomy do |order, family, species_list|
  %h2= render partial: 'species/taxonomy', locals: {rank: :order, value: order}
  %h3= render partial: 'species/taxonomy', locals: {rank: :family, value: family}
  %ol
    - species_list.each do |sp|
      %li.lifer_row{:value => i += 1}
        = render partial: 'lifer', object: sp
