name: Rubocop
on:
  workflow_call:
    inputs:
      ruby:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      ruby:
        description: Ruby version
        required: false
        type: string

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-24.04
    env:
      BUNDLE_WITHOUT: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby }}
          bundler-cache: true
      - name: "Run Rubocop"
        run: |
          bundle exec rubocop --format github
