name: "Tests"
on:
  workflow_call:
    inputs:
      ruby:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      ruby:
        description: Ruby version
        required: false
        type: string
jobs:
  test:
    name: Tests
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres:18.0-trixie
        ports:
          - "5432:5432"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_USER: quails
          POSTGRES_DB: quails_test
          POSTGRES_PASSWORD: "quails"
    env:
      BUNDLE_WITHOUT: development
      RAILS_ENV: test
      DATABASE_URL: "postgres://quails:quails@localhost:5432/quails_test"
      MINITEST_REPORTER: Minitest::Reporters::SpecReporter
      COVERAGE: 1
      PARALLEL_WORKERS: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup test environment
        uses: ./.github/actions/setup
        with:
          ruby: ${{ inputs.ruby }}
      - name: Run tests
        run: bin/rails test
      - name: Code coverage results
        uses: actions/upload-artifact@v7
        with:
          name: Coverage
          path: coverage/

  system_test:
    name: ${{ matrix.driver.name }} system tests
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        driver:
          - name: Chrome
            js_browser: chromium
    #       - name: Firefox
    #         js_browser: firefox
    services:
      postgres:
        image: postgres:18.0-trixie
        ports:
          - "5432:5432"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_USER: quails
          POSTGRES_DB: quails_test
          POSTGRES_PASSWORD: "quails"
    env:
      BUNDLE_WITHOUT: development
      RAILS_ENV: test
      DATABASE_URL: "postgres://quails:quails@localhost:5432/quails_test"
      MINITEST_REPORTER: Minitest::Reporters::SpecReporter
      PARALLEL_WORKERS: 2
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup test environment
        uses: ./.github/actions/setup
        with:
          ruby: ${{ inputs.ruby }}
      - name: Cache Playwright Chromium browser
        id: playwright-cache
        uses: actions/cache@v5
        with:
          path: ~/.cache/ms-playwright
          key: playwright-browsers-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install Playwright Chromium browser (with deps)
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        shell: bash
        run: yarn run playwright install --with-deps chromium
      - name: Install Playwright Chromium browser deps
        if: steps.playwright-cache.outputs.cache-hit == 'true'
        shell: bash
        run: yarn run playwright install-deps chromium
      - name: Run tests
        env:
          # To prevent ugly xvfb warning
          XDG_RUNTIME_DIR: "/tmp/runtime-runner"
          JS_BROWSER: ${{ matrix.driver.js_browser }}
        run: bin/rails test:system
      - name: Screenshots
        uses: actions/upload-artifact@v7
        if: failure()
        with:
          name: Screenshots-${{ matrix.driver.js_browser }}
          path: tmp/screenshots
