- thumbnail.formatted.title.tap do |img_title|
  %li.imageholder{'data-image-id' => thumbnail.id}
    = link_to image_tag(thumbnail_url(thumbnail), alt: "[фотография]"), image_path(thumbnail)
    %div.imagetitle= link_to img_title, image_path(thumbnail)
