- @page_title = "Add image"

%h1= page_header

%ul.horiz-list
  %li= link_to('Skip to simple add form', action: :new)

- @flickr_images.each do |img|
  = link_to(action: :new, i: {flickr_id: img.id}) do
    = image_tag(FlickRaw.url_m(img))