- @page_title = (['new', 'create'].include?(action_name) ? 'New' : 'Editing') + ' image'

%h1= @page_title

= render 'form'

%p= link_to 'DELETE', @image, :confirm => 'Are you sure?', :method => :delete