- @page_title = '%s image' % (['new', 'create'].include?(action_name) ? 'New' : 'Editing')

%h1= @page_title

= render 'form'

%p= link_to 'DELETE', @image, :confirm => 'Are you sure?', :method => :delete