- @page_title = "Birds gallery"

%h1= page_header

%ul.horiz-list
  %li= link_to('Birds of Ukraine', country_path(country: 'ukraine'))
  %li= link_to('Birds of USA', country_path(country: 'usa'))

= render :partial => 'species/thumbnail', :collection => @species
