- @page_title = "Birds gallery"

%h1= page_header

%ul.horiz-list
  %li= link_to('Birds of Ukraine', birds_ukraine_path)
  %li= link_to('Birds of USA', birds_usa_path)

= render :partial => 'species/thumbnail', :collection => @species
