-# @body_class = 'wider'

- stylesheet 'public'
- javascript 'pjax_pagination'

- @page_title = 'Half-mapped photos'

%h1= page_header

%div.thumbnails
  = render_justified @images.map {|im| Thumbnail.new(edit_map_image_path(im), im.formatted.title, im)}

= paginate @images
