- @wider = true

- stylesheet 'public'
- javascript 'pjax_pagination'

- @page_title = 'Unflickred photos'

%h1= page_header

%div.thumbnails
  - justify(@images.map {|im| Thumbnail.new(edit_flickr_image_path(im), im.formatted.title, im)}).each do |thumbs|
    %div.thumbs_row= render thumbs

= paginate @images
