- @page_title = 'Unused photos from Flickr'

%h1= page_header

%div.flickr_result

  - @diff.each do |img|
    %div.flickr_result_cell<
      = link_to(url_for(action: :new, i: {flickr_id: img.id}), class: 'img') do
        = image_tag(FlickRaw.url_m(img), class: 'flickr_image')
      %span.flickr_subscr= link_to "on flickr", FlickRaw.url_photopage(img)
