-# frozen_string_literal: true
!!!

%html

  %head

    -# meta tags
    -# encoding
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }

    %title= page_title

    -# mobile viewport
    %meta{ name: 'viewport', content: 'width=device-width'}

    %meta{ name: 'robots', content: 'NOINDEX'}

    = stylesheet_link_tag('login')

  %body

    .main

      = link_to 'Home', root_url

      .form_container
        = yield
