= stylesheet_link_tag "mail"

%div.mail-centered

  %div.mail-wrapper

    %div.mail-header

      = link_to "birdwatch.org.ua", blog_url

    = yield



- if !Quails.env.real_prod?
  %br/
  THIS IS A TEST. NOT A REAL PRODUCTION ENVIRONMENT.
  - if Rails.env.development?
    = link_to "See all letters.", letter_opener_web_url, target: :blank
