-# frozen_string_literal: true
- top_level_comments = @comments[nil]

- if top_level_comments || notice.try(:has_key?, 0)

  %h2#comments= t('.title')

  - if top_level_comments
    = render top_level_comments

%h3#add_comment= t('.add_comment')

= render "comments/form"
